ul,li{
	list-style: none;
}
.body{
	padding: 20px;
	background-color: #fff;
	height: 100%;
}
.box{
	margin-bottom: 30px;
}
.title{
	line-height: 30px;

}
.children{
	display: flex;
	/* height: 40px; */
	min-height: 15px;
	align-items: center;
	padding: 0;
}
.children li{
	margin-left: 20px;
}

input[type=checkbox]{
	display: none;
}
label:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #ddd;
	margin-right: 5px;

}
label.selted i{
	display: inline-block;
	width: 8px;
	height: 14px;
	border-color: rgba(117,200,43,1);
	border-style: solid;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 3px;
}
.children li{
	height: 30px;
	font-size: 14px;
}
label{
	display: inline-block;
	height: 100%;
	line-height: 30px;
	position: relative;
}


#btn{
	border: none;
	background-color: #009688;
	color: #fff;
	height: 35px;
	width:70px;
	margin-left: 40px;
	letter-spacing: 2px;
}
