<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>在库管理</title>
    <link rel="stylesheet" href="/images/boot.css">
    <link href="/images/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <style type="text/css">
        .layui-table th{text-align: center;font-weight: bold;}
        .layui-table td{text-align: center;}
        label{box-sizing: content-box;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">超级权限</a>
            <a><cite>进销存</cite></a>
        </span>
    </div>
    <div class="daochu">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <!-- <form action="{:url('Chaoji/outExce')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;"> -->
                    <button class="layui-btn save" id="dc" name="dc" lay-submit>导出</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <div class="bd_content">
        <table class="layui-table" style="width: 96%; margin: 12px auto">
                <thead>
                    <tr>
                        <th rowspan="2">产品</th>
                        <th rowspan="2">初期数量</th>
                        <th colspan="3">入库</th>
                        <th colspan="3">出库</th>
                        <th rowspan="2">结存</th>
                    </tr>
                    <tr>
                        <th>到货入库</th>
                        <th>调拨入库</th>
                        <th>其他入库</th>
                        <th>销售出库</th>
                        <th>调拨出库</th>
                        <th>其他出库</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='jxc_xx' id='j'}
                    <tr>
                        <td><a href="{:url('Chaoji/jxc_goods_xx','name='.$j.hw_name)}" style="color: rgb(216, 156, 77)">{$j.hw_name}</a></td>
                        <td>{$j.early_stage}</td>
                        <td>{$j.dh_ruku}</td>
                        <td>{$j.db_ruku}</td>
                        <td>{$j.qt_ruku}</td>
                        <td>{$j.xx_chuku}</td>
                        <td>{$j.db_chuku}</td>
                        <td>{$j.qt_chuku}</td>
                        <td>{$j.rk_nums}</td>
                    </tr>
                    {/volist}
                    <tr>
                        <td>合计</td>
                        <td>{$early_stage}</td>
                        <td>{$dh_ruku}</td>
                        <td>{$db_ruku}</td>
                        <td>{$qt_ruku}</td>
                        <td>{$xx_chuku}</td>
                        <td>{$db_chuku}</td>
                        <td>{$qt_chuku}</td>
                        <td>{$rk_nums}</td>
                    </tr>
                </tbody>
        </table>
        <div style="text-align:center; margin-bottom: 200px;">
        </div>
    </div>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element','laydate','form'], function(){
        var laydate = layui.laydate;
        var element = layui.element;
        let form = layui.form;
        laydate.render({
            elem: '#s_delivery_time'
            ,range: '~'
            ,done: function(value){
                $('#s_delivery_time').val(value)
            }
        });
    })
    // 导出
    $('#dc').on('click', function() {
        console.log(1);
        var a = 1;
        $.post("{:url('Chaoji/outExcel')}",a, function (res) {
            if(res.error==0){
                alert(res.msg);
                return false;
            }
            if (res.status) {
                window.location.href = ("{:Url('index/Chaoji/download')}?file=" + res.url);
            } else {
                layer.msg('系统错误，操作失败');
            }
        }, 'json')
    })
</script>
</body>
</html>
