<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>后台管理系统</title>
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="/images/css.css">
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>

		<style>
			.layui-nav-tree .layui-nav-child a{padding-left: 35px;}
		</style>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">WMS仓储管理系统</div>
				<ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
						<a href="/public/main.html" target="box"><span class="icon home"></span>系统首页</a>
                    </li>
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="/images/avatar.jpg" class="layui-nav-img">
                            {$menu.staffs_name}
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">基本资料</a></dd>
							<dd><a href="javascript:;" target="box" id="dialog">修改密码</a></dd>
							<dd><a href="{:url('Login/out')}">安全退出</a></dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree navs"  lay-filter="test">
                        {volist name="rows" id="row"}
						<li class="layui-nav-item">
							<a class="" href="javascript:;">{$row['pow_name']}</a>
							<dl class="layui-nav-child">
                                <?php foreach($row['er'] as $s=>$v): ?>
								<dd><a href="{:url($s)}" target="box">{$v}</a></dd>
                                <?php endforeach;?>
							</dl>
						</li>
                        {/volist}
					</ul>
				</div>
			</div>

			<div class="layui-body" style="bottom: 0; overflow-y: hidden;">
				<!-- 内容主体区域 -->
                    <iframe src="/public/main.html"  class="mainbox" scrolling="yes" name="box"></iframe>
			</div>
		</div>

		<!--修改密码-->
		<div class="model">
			<div class="head">
				<span>修改密码</span>
				<a href="javascript:" class="close">×</a>
			</div>
			<div class="content">
				<form action="{:url('Login/users_edit','id='.$menu['id'])}" method="post">
					<div class="wrap">
						<label>原密码:</label>
						<input type="password" name="pwd1" value=""/>
					</div>
					<div class="wrap">
						<label>新密码:</label>
						<input type="password" name="pwd2" value=""/>
					</div>
					<div class="wrap">
						<label>确认新密码:</label>
						<input type="password" name="pwd3" value=""/>
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/images/index.js"></script>
        <script src="/layui/layui.js"></script>
		<script>
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
			})

			layui.use('element', function(){
				var element = layui.element;
				// element.on('nav(test)', function (elem) {
				// 	console.log(elem)
				// })
			});
			$('.navs').on('click', 'a', function () {
				if($(this)[0].href != 'javascript:;'){
					sessionStorage.clear();
				}
			})

		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>
