<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>
	<title>新增权限</title>
	<link rel="stylesheet" href="/images/css.css">
	<link rel="stylesheet" href="/images/boot.css">
	<link href="/images/index.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
	<style type="text/css">
		.layui-table th{text-align: center;font-weight: bold;}
		.layui-table td{text-align: center;}
	</style>
	</head>
	<body>
		<div class="note">
			<div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">管理</a>
					<a><cite>入库审核</cite></a>
				</span>
			</div>
			<div class="seach">
				<form action="{:url('Rukuorder/warehousing')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
					<div class="layui-form-item">
						<label class="layui-form-label">日期</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="" name="s_transfers_id" value="<?php if(!empty($data['transfers_id'])){echo $data['transfers_id'];}?>" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">工厂</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="" name="s_delivery_time" placeholder=" - " value="<?php if(!empty($data['delivery_time'])){echo $data['delivery_time'];}?>">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">产品属性</label>
						<div class="layui-input-inline">
							<select name="s_material_name" id="">
								<option value="0">---请选择产品属性---</option>
								{volist name='status' id='st'}
								<option value="{$st.id}">{$st.title}</option>
								{/volist}
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<button class="layui-btn save" lay-submit>查询</button>
						</div>
					</div>
				</form>
			</div>
			<table class="layui-table" style="width: 96%; margin: 12px auto;">
				<thead>
				<tr>
					<th>ID</th>
					<th>工厂</th>
					<th>产品名称</th>
					<th>入库属性</th>
					<th>入库仓库</th>
					<th>入库货位</th>
					<th>入库时间</th>
					<th>产品时间</th>
					<th>数量</th>
					<th>毛重</th>
					<th>净重</th>
				</tr>
				</thead>
				{volist name='rows' id='row'}
				<tr>
					<td>{$row.id}</td>
					<td>{$row.factory}</td>
					<td>{$row.product_name}</td>
					<td>{$row.k_name}</td>
					<td>{$row.w_name}</td>
					<td>{$row.c_name}</td>
					<td>{$row.time|date="Y-m-d",###}</td>
					<td>{$row.product_time}</td>
					<td>{$row.rk_nums}</td>
					<td>{$row.netweight}</td>
					<td>{$row.Grossweight}</td>
				</tr>
				{/volist}
				<tbody>
				</tbody>
			</table>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layui/layui.js"></script>
		<script type="text/javascript">
			layui.use('form',function(){
				let form = layui.form;
			})
		</script>
	</body>
</html>
