<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>入库单</h1>
<form method="post" action="{:url('Rukuorder/insert')}">
<p>装运单号:<input type="text" name="shipmentnum"></p>
<p>入库日期:<input type="date" name="userintime"></p>
<p>运输方式:<input type="text" name="transport"></p>
<p>车牌号码:<input type="text" name="carid"></p>
<p>装卸工:<input type="text" name="stevedore"></p>
<p>入库仓库:<select name="ck_id" id="table" onchange="showtable(this.value)"><option value="0">请选择仓库</option>
    <?php foreach($cks as $ck): ?>
    <option value="<?=$ck['id']?>"><?=$ck['name']?></option>
    <?php endforeach; ?>
</select></p>
<table class="table" border="1">
    <tr>
        <th>出库工厂</th>
        <th>产品名称</th>
        <th>入库状态</th>
        <th>入库货位</th>
        <th>实收数量</th>
        <th>产品日期</th>
        <th>产品批次</th>
        <th>备注</th>
        <th>毛重</th>
        <th>净重</th>
        <th>订单编号</th>
    </tr>
    {volist name='rows' id='v'}
    <tr>
        <input type="hidden" name="min" value="{$v.Grossweight}">
        <input type="hidden" name="gross_min" value="{$v.netweight}">
        <th><input type="text" value="{$v.transfers_factory}" name="transfers_factory[]" readonly></th>
        <th><input type="text" value="{$v.material_name}" name="material_name[]" readonly></th>
        <th class="status"><select name="status[]">
            <option value="0">请选择入库状态</option>
            <?php foreach($status as $statu): ?>
            <option value="<?=$statu['id']?>"><?=$statu['title']?></option>
            <?php endforeach ?>
        </select></th>
        <th class="huowei"><select name='huowei[]' class='showhuowei'><option value='0'>请选择货位</option></select></th>
        <th><input type="number" value="{$v.countnum}" class="countnum" id="blur" name="nums[]"></th>
        <th><input type="date" name="intime[]"></th>
        <th><input type="text" name="storno[]" placeholder="请输入批次"></th>
        <th><textarea name="content[]"></textarea></th>
        <th><div class="groos"><input name="Grossweight[]" value="{$v.Grossweight}" readonly></div></th>
        <th><div class="num"><input name="netweight[]" value="{$v.netweight}" readonly></div></th>
        <th><input type="text" name="transfers_id[]" value="{$v.transfers_id}" readonly></th>
    </tr>
    {/volist}
</table>
<input type="submit" value="提交">
</form>
<script src="/static/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    function showtable(){
        var id=$('#table').val();
        $('.showhuowei').remove();
        if($('#table').val() != 0){
            $.ajax({
                type: "get",//请求方式有post，get请求方式，这里是post请求
                url: '/index/table/show/id/' + id,//请求的方法的路径
                dataType: 'json',//请求参数的格式为json.另外还有text等
                success: function(data){
                    var data = JSON.parse(data);
                    console.log(data);
                    $('.huowei').append("<select name='huowei[]' class='showhuowei'><option value='0'>请选择货位</option></select>");
                    for (var i=0;i<data.length;i++)
                    {
                        $('.showhuowei').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                    }
                    $(".forzentitle").val(data.title);
                    $('.frozencount').val(data.goods_feel);
                    $(".editfrozenid").val(data.id);
                }
            })
        }
        $('.countnum').live('input propertychange', function()
        {
            console.log(111);
        })
    }
    $('.countnum').blur(function () {
        let parent =$(this).parents('tr');
        //净重
        let min = $(this).parents('tr').find('input[name=min]').val();
        //毛重
        let gross_min = $(this).parents('tr').find('input[name=gross_min]').val();
        let max = $(this).val()
        $.ajax({
            url:'/index/Rukuorder/blur',
            data:{'min':min,'max':max,'groos_min':gross_min},
            success:function (data) {
                console.log(data)
                parent.find('.groos').children().val(data.groos)
                parent.find('.num').children().val(data.number)
            }
        })
    })
</script>
</body>
</html>
