<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .container{display: block;overflow-x: hidden;}
        .container::-webkit-scrollbar{width: 0;}
        .btn{margin-left: 40px;margin-top: 30px;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">入库管理</a>
            <a><cite>入库台账详情</cite></a>
        </span>
    </div>
    <div class="container">
        <div class="layui-form">
            <div class="form_box">
                <div class="layui-form-item">
                    <label class="layui-form-label">装运单号:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="shipmentnum" value="{$rows['shipmentnum']}" readonly class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入库日期:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userintime" value="{$rows.userintime|date='Y-m-d',###}" readonly class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入库日期:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userintime" value="{$rows.userintime|date='Y-m-d',###}" readonly class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">运输方式:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transport" value="{$rows['transport']}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">车牌号码:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="carid" value="{$rows['carid']}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">装卸工:</label>
                    <div class="layui-input-inline">
                        <span>{$warker_name}</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">仓库:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="stevedore" value="{$rows['w_name']}" readonly class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-table" style="width: 96%; margin: 12px auto;">
            <thead>
            <tr>
                <th>出库工厂</th>
                <th>产品名称</th>
                <th>产品属性</th>
                <th>入库货位</th>
                <th>实收数量</th>
                <th>产品日期</th>
                <th>产品批次</th>
                <th>备注</th>
                <th>净重</th>
                <th>毛重</th>
                <th>订单编号</th>
            </tr>
            </thead>
            <tbody class="tbd">
            {volist name='cats' id='ca'}
            <tr>
                <td>{$ca.factory}</td>
                <td>{$ca.product_name}</td>
                <td>{$ca.w_name}</td>
                <td>{$ca.c_name}</td>
                <td>{$ca.rk_nums}</td>
                <td><?php if(!empty($ca['product_time'])){echo date('Y-m-d',$ca['product_time']);} ?></td>
                <td>{$ca.product_batch}</td>
                <td>{$ca.content}</td>
                <td>{$ca.netweight}</td>
                <td>{$ca.Grossweight}</td>
                <td>{$ca.transfers_id}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <span style="margin-left:40px">总数:{$num}</span>
        <span style="margin:0 40px">总毛重:{$mao}吨</span>
        <span>总净重:{$jing}吨</span>

    </div>
    <div class="btn">
        <a class="layui-btn" id="dy">打印</a>
    </div>
</div>


<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/images/jquery.PrintArea.js"></script>
<script type="text/javascript">
    $('#dy').click(function () {
        $('.container').printArea();
    })
    layui.use(['element'], function () {

    })
</script>
</body>
</html>
