<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" href="/images/index.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    
    <style>
        .submit{margin-left: 30px;margin-top: 30px;}
        .container{display: block;overflow-x: hidden;height: auto;}
        .container::-webkit-scrollbar{width: 0;}
        video {
            display: block;
            margin: 0 auto;
            width: 240px;
            height: 240px;
            background: #000;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">扫码</a>
            <a><cite>扫码出库</cite></a>
        </span>
    </div>
    <h2>需要出库货物</h2>
    <div class="container">
        <table class="layui-table" style="width: 96%; margin: 12px auto;">
            <thead>
            <tr>
                <th>货物名</th>
                <th>装运单号</th>
                <th>出库日期</th>
                <th>总数量</th>
                <th>总重量</th>
            </tr>
            </thead>
            <tbody>
            {volist name='cats' id='row'}
            <tr>
                <td>{$row.product_name}</td>
                <td>{$rows.transport_id}</td>
                <td><?php if(!empty($rows['ck_time'])){echo date('Y-m-d',$rows['ck_time']);} ?></td>
                <td>{$row.count}</td>
                <td>{$row.netweight}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <form method="post" class="layui-form" action="{:url('Saoyisao/create_order')}">
        <div class="form_box">
            <div class="layui-form-item">
                <label class="layui-form-label">出货仓库:</label>
                <div class="layui-input-inline">
                    <input type="text" name="transport_id" autocomplete="off" class="layui-input" value="{$name}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">售达方:</label>
                <div class="layui-input-inline">
                    <input type="text" name="delivery" autocomplete="off" class="layui-input" value="{$delivery}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户名:</label>
                <div class="layui-input-inline">
                    <input type="text" name="delivery_name" autocomplete="off" class="layui-input" value="{$delivery_name}">
                </div>
            </div>
        </div>
            <h2>已扫码</h2>
        <div class="container">
            <table class="layui-table" style="width: 96%; margin: 12px auto;">
                <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>总数量</th>
                        <th>产品日期</th>
                        <th>批次</th>
                        <th>操作</th>
                </thead>
                <tbody class="tbd">
                        {if condition="!empty($xx)"}
                        {volist name='xx' id='x'}
                            <tr>
                                <input type="hidden" name="tp_num[]" id="" value="{$x.0.tp_num}">
                                <th>
                                    {$x.0.goods_name}
                                </th>
                                <th>
                                    {$x.0.num}
                                </th>
                                <th>
                                    {$x.0.goods_time}
                                </th>
                                <th>
                                    {$x.0.batch}
                                </th>
                                <th><a href="#" class="del" title="">删除</a></th>
                            </tr>
                        {/volist}
                        {/if}
                </tbody>
            </table>
            <button class="layui-btn submit" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
    </form>
    <div class="saoma" style="margin: 10px 30px;">
        <div id="video"></div>
        <div>
            <button class="layui-btn open" id="open">扫码</button>
        </div>
        <div id="result"></div>
    </div>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/static/js/qrscan.js"></script>
<script type="text/javascript">
    layui.use(['element', 'form','laydate','layer'], function () {
        let element = layui.element;
        let form = layui.form;
        let laydate = layui.laydate;
        let layer = layui.layer;
        laydate.render({
            elem: '#time',
            type: 'date'
        })
    });
    /*
    *扫码
    */
    var ds = null;
    var xx = null;
    var scan = new QRScan('video');

    $('#open').on('click', function () {
        scan.openScan();
        ds = window.setInterval(function () {
            startScan();
        }, 1500);
    })
    // document.getElementById('close').onclick = function () {
    //     scan.closeScan();
    //     window.clearInterval(ds);
    // };
    
    var re_div = document.getElementById('result');
    function startScan() {
        scan.getImgDecode(function (data) {
            console.log(data);
            var p = document.createElement('p');
            if (data.success) {
                window.location.href=data.payload;
            } else {
                p.innerHTML = '识别失败，请校准';
            }
            re_div.appendChild(p);
        });
    };

    /*
    *删除
    */
    $('.del').click(function () {
        let p = $(this).parents('tr');
        p.remove();
    })
</script>
</body>
</html>
