<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" href="/images/index.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    
    <style>
        .submit{margin-left: 30px;margin-top: 30px;}
        .container{display: block;overflow-x: hidden;height: 580px;}
        .container::-webkit-scrollbar{width: 0;}
        video {
            display: block;
            margin: 0 auto;
            width: 240px;
            height: 240px;
            background: #000;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">扫码</a>
            <a><cite>扫码出库</cite></a>
        </span>
    </div>
    <form method="post" class="layui-form" action="{:url('Saoyisao/create_order')}">
        <div class="form_box">
            <div class="layui-form-item">
                <label class="layui-form-label">保管名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="staffs_name" autocomplete="off" class="layui-input" value="{$rows[0]['staffs_name']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出库仓库:</label>
                <div class="layui-input-inline">
                    <input type="text" name="w_name" autocomplete="off" class="layui-input" value="{$cks[0]['name']}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">装运单号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="transport_id" autocomplete="off" class="layui-input" value="{$rows[0]['transport_id']}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">送达方:</label>
                <div class="layui-input-inline">
                    <input type="text" name="reachout_name" autocomplete="off" class="layui-input" value="{$rows[0]['reachout_name']}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出库日期:</label>
                <div class="layui-input-inline">
                    <input type="text" name="ck_time" autocomplete="off" class="layui-input" value="{$rows[0]['ck_time']}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">总数量:</label>
                <div class="layui-input-inline">
                    <input type="text" name="total_shu" autocomplete="off" class="layui-input" value="{$rows[0]['total_shu']}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">总重量:</label>
                <div class="layui-input-inline">
                    <input type="text" name="total_zhong" autocomplete="off" class="layui-input" value="{$rows[0]['total_zhong']}" >
                </div>
            </div>
        </div>
        <div class="container">
            <table class="layui-table" style="width: 96%; margin: 12px auto;">
                <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>总数量</th>
                        <th>产品日期</th>
                        <th>批次</th>
                </thead>
                <tbody class="tbd">
                        {if condition="!empty($xx)"}
                        {volist name='xx' id='x'}
                            <tr>
                                <input type="hidden" name="tp_num[]" id="" value="{$x.tp_num}">
                                <th>
                                    {$x.goods_name}
                                </th>
                                <th>
                                    {$x.num}
                                </th>
                                <th>
                                    {$x.goods_time}
                                </th>
                                <th>
                                    {$x.batch}
                                </th>
                            </tr>
                        {/volist}
                        {/if}
                </tbody>
            </table>
        </div>
    </form>
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <a href="{:url('Saoyisao/out_log')}"><button class="layui-btn save" id="fanhui" lay-submit>返回</button></button></a>
        </div>
    </div>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/static/js/qrscan.js"></script>
<script type="text/javascript">
    layui.use(['element', 'form','laydate','layer'], function () {
        let element = layui.element;
        let form = layui.form;
        let laydate = layui.laydate;
        let layer = layui.layer;
        laydate.render({
            elem: '#time',
            type: 'date'
        })
    });
    

</script>
</body>
</html>
