<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>新增权限</title>
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="/images/css.css">
<!--		<link rel="stylesheet" href="/images/boot.css">-->
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
		<style type="text/css">
			.layui-table th{text-align: center;font-weight: bold;}
			.layui-table td{text-align: center;}
		</style>
	<body>
		<div class="note">
			<div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">基础设置</a>
					<a><cite>用户列表</cite></a>
				</span>
			</div>
			<div class="handle">
				<a href="{:url('Staffs/staffs_add')}" class="layui-btn">添加</a>
			</div>
			<table class="layui-table" style="width: 96%; margin: 12px auto;">
				<thead>
				<tr>
					<th>ID</th>
					<th>编号</th>
					<th>姓名</th>
					<th>部门</th>
					<th>电话</th>
					<th>邮箱</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				{volist name='rows' id='row'}
					<tr>
						<td>{$row['id']}</td>
						<td>{$row['staffs_number']}</td>
						<td>{$row['staffs_name']}</td>
						<td>{$row['name']}</td>
						<td>{$row['tel']}</td>
						<td>{$row['email']}</td>
						<td>
							<?php if($row['id']!=1): ?><a href="{:url('Staffs/staffs_edit','id='.$row['id'])}" title="编辑" style="margin-right: 15px;"><i class="ico">&#xe619;</i></a><?php endif; ?>&nbsp;
							<?php if($row['id']!=1): ?><a href="{:url('Staffs/staffs_del','id='.$row['id'])}" title="删除"><i class="ico">&#xe605;</i></a><?php endif; ?>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
		<!--查看-->
		<div class="model_select">
			<div class="head">
				<span>操作日志</span>
				<a href="javascript:" class="close_select">×</a>
			</div>
			<div class="content"   style="height: calc(100% - 50px);overflow-x: hidden;box-sizing: border-box;">
				<table class="layui-table">
					<thead>
					<tr>
						<th>操作时间</th>
						<th>工厂名</th>
						<th>产品名</th>
						<th>总数量</th>
						<th>吨数</th>
					</tr>
					</thead>
					<tbody class="t">

					</tbody>
				</table>
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/layui/layui.js"></script>
		<script>
			$('.select').on('click', function(){
				$('.model_select').show();
			})
			$('.close_select').on('click', function(){
				$('.model_select').hide();
			})
			layui.use('element', function () {
				var element = layui.element;
			})
			//查看数据
			$('.select').click(function () {
				let id=$(this).parents('tr').find('td').eq(0).text();
				$('.t').empty();
				$.ajax({
					url:'/index/Staffs/staffs_id',
					type:'post',
					data:{"id":id},
					success:function (data) {
						console.log(data)
						let html = '';
						for(let i in data){
							html += `<tr>
									<td>${data[i].create_time}</td>
									<td>${data[i].factory}</td>
									<td>${data[i].product_name}</td>
									<td>${data[i].rk_nums}</td>
									<td>${data[i].netweight}</td>
								</tr>`
						}
						$('.t').append(html);
					}
				})
			})
		</script>

	</body>
</html>
