<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>
	<title>新增权限</title>
		<link rel="stylesheet" href="/images/css.css">
		<link rel="stylesheet" href="/images/boot.css">
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
	<style type="text/css">
		.layui-table th{text-align: center;font-weight: bold;}
		.layui-table td{text-align: center;}
		label{box-sizing: content-box;}
	</style>
	</head>
	<body>
		<div class="note">
			<div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">出库管理</a>
					<a><cite>出库明细</cite></a>
				</span>
			</div>
			<div class="seach">
				<form action="{:url('Outbound/detailed')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
					<div class="layui-form-item">
						<label class="layui-form-label">出库仓库</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="" name="s_transfers_id" value="<?php if(!empty($s_transfers_id)){echo $s_transfers_id;}?>" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">发货日期</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="s_delivery_time" name="s_delivery_time" autocomplete="off" placeholder=" - " value="<?php if(!empty($s_delivery_time)){echo $s_delivery_time;}?>">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<button class="layui-btn save" lay-submit>查询</button>
						</div>
					</div>
				</form>
			</div>
			<table class="layui-table new_list" style="width: 96%; margin: 12px auto;">
				<thead>
				<tr>
					<th>ID</th>
					<th>出库仓库</th>
					<th>出库货物</th>
					<th>出库货位</th>
					<th>送达方</th>
					<th>发货日期</th>
					<th>数量</th>
					<th>净重</th>
				</tr>
				</thead>
				<tbody class="tbd">
				{volist name='rows' id='row'}
				<tr id="check" class="news_list">
					<td>{$row.id}</td>
					<td>{$row.w_name}</td>
					<td>{$row.product_name}</td>
					<td>{$row.c_name}</td>
					<td>{$row.reachout_name}</td>
					<td><?php if(!empty($row['delivery_time'])){echo date('Y-m-d',$row['delivery_time']);}?></td>
					<td>{$row.ck_nums}</td>
					<td>{$row.netweight}</td>
				</tr>
				{/volist}
				</tbody>
			</table>
			<div style="text-align:center; margin-bottom: 200px;">
				{$rows->render()}
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layui/layui.js"></script>
		<script type="text/javascript">
			layui.use(['element','laydate','form'], function(){
				var laydate = layui.laydate;
				var element = layui.element;
				let form = layui.form;
				laydate.render({
					elem: '#s_delivery_time'
					,range: '~'
					,done: function(value){
						$('#s_delivery_time').val(value)
					}
				});
			})
			//全选
			$("#all").click(function(){
				let arr = [];
				if(this.checked){
					$("#check :checkbox,#all").prop("checked", true);
					let checks = $('.tbd ').find('input:checkbox');
					checks.each(function () {
						arr.push($(this)[0].value);
					})
					sessionStorage.setItem('session_dc',JSON.stringify(arr));
				}else{
					$("#check :checkbox,#all").prop("checked", false);
					sessionStorage.removeItem('session_dc');
				}
			});
			let session=[];
			$('.tbd').on('click','input[type=checkbox]',function () {
				let ses=JSON.parse(sessionStorage.getItem('session_dc'));
				session = ses === null ? [] : ses;
				if($(this)[0].checked == true){
					session.push($(this).val());
				}else{
					let val = $(this).val();
					for (let i in session){
						if(session[i] == val){
							session.splice(i,1);
						}
					}
				}
				sessionStorage.setItem('session_dc',JSON.stringify(session));
			})
			$(function () {
				let list = JSON.parse(sessionStorage.getItem('session_dc'));
				if(list != null){
					$('.new_list input[type=checkbox]').each(function () {
						if(list.includes($(this).val()) ){
							$(this).prop('checked',true);
						}
					})
				}
			})
		</script>
	</body>
</html>
