<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>后台管理系统</title>
		<link rel="stylesheet" href="/images/css.css">
        <link rel="stylesheet" href="/images/boot.css">
        <link href="/images/index.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
        <style>
            .model_edit{
                overflow: hidden;
            }
            .model_edit .content{
                height: calc(100% - 100px);
                overflow-x: hidden;
            }
            .model_edit .content::-webkit-scrollbar{
                display: none;
            }
            .cf{
                overflow: hidden;
            }
            .cf .content{
                height: calc(100% - 100px);
                overflow-x: hidden;
            }
            .cf .content::-webkit-scrollbar{
                display: none;
            }
            label{box-sizing: content-box;}
            .seach{margin: 10px auto;}
        </style>
	</head>
	<body>
		<div class="note">
            <div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">出库管理</a>
					<a><cite>系统订单</cite></a>
				</span>
            </div>
            <div class="handle">
                <button type="button" class="layui-btn" id="dialog">导入excel表</button>
                <button type="button" class="layui-btn" id="outorder">生成出库单</button>
                <a href="#" class="layui-btn" id="dc">导出</a>
            </div>
            <div class="seach">
                    <form action="{:url('Outbound/index')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;flex-wrap: wrap;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">仓库名称</label>
                            <div class="layui-input-inline">
                                <select name="factory_name">
                                    <option value="">请选择</option>
                                    {volist name='res' id='r'}
                                    <option value="{$r['name']}" <?php if($factory_name==$r['name']){echo 'selected';} ?>>{$r['name']}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">出库时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="delivery_time" id="delivery_time" autocomplete="off" placeholder="  " value="<?php if(!empty($delivery_time)){echo $delivery_time;}?>">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">装运单号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="transport_id"  value="{$transport_id}"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">送达方名称</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="reachby_name"  value="{$reachby_name}"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">物料名</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="material_name"  value="{$material_name}"/>
                            </div>
                            <button class="layui-btn save" lay-submit>查询</button>
                        </div>
                    </form>
                </div>
            <main class="bd_content">
                <table class="layui-table new_list" style="width: 96%;margin: 12px auto;">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="all"></th>
                        <th>发货日期</th>
                        <th>工厂名</th>
                        <th>装运单号</th>
                        <th>交货单号</th>
                        <th>送达方名称</th>
                        <th>物料名</th>
                        <th class="out_num">交货数量</th>
                        <th>详细批次</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="tbd">
                        {if condition="!empty($list)"}
                        {volist name='list' id='r'}
                        <tr id="check" class="news_list">
                            <input type="hidden" name="id" value="{$r.id}">
                            <td><input type="checkbox" value="{$r.id}"></td>
                            <td><?php if($r['delivery_time']!=0){echo date("Y/m/d",$r['delivery_time']);}?></td>
                            <td>{$r.factory_name}</td>
                            <td>{$r.transport_id}</td>
                            <td>{$r.Delivery_id}</td>
                            <td>{$r.reachby_name}</td>
                            <td>{$r.material_name}</td>
                            <td>{$r.Delivery_num}</td>
                            <td>{$r.detailed}</td>
                            <td>
                                <a href="#" class="img_edit" title="详细" style="margin-right: 15px;">详细</a>
                                <a href="#" class="chaifen" title="拆分" style="margin-right: 15px;">拆分</a>
                            </td>
                        </tr>
                        {/volist}
                        {/if}
                    </tbody>
                </table>
                <div style="text-align:center; margin-bottom: 200px;">
                        {$list->render()}
                </div>
            </main>
        </div>

        <!-- 导入 -->
        <div class="model">
            <div class="head">
                <span>导入excel表</span>
                <a href="javascript:" class="close">×</a>
            </div>
            <div class="content">
                <form action="{:url('Outbound/upload_excel')}" method="post" enctype="multipart/form-data">
                    <div class="wrap">
                        <input type="file" name="file" value="" required oninvalid="setCustomValidity('
                            不能为空') oninput="setCustomValidity('')"/>
                        <input type="submit" class="save" id="btn" value="确定"/>
                    </div>
                </form>
                <span>无发货日期数据无法导入</span>
            </div>
        </div>
        <!-- 详细 -->
        <div class="model_edit">
            <div class="head">
                <span>修改商品</span>
                <a href="javascript:" class="close_edit">×</a>
            </div>
            <div class="content">
                <form action="{:url('Outbound/detailed_edit')}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" >
                    <div class="wrap">
                        <label>发货日期</label>
                        <input type="text" id="delivery_time" name="delivery_time" value="" placeholder="xxxx/x/x"/ />
                    </div>
                    <div class="wrap">
                        <label>工厂编号</label>
                        <input type="text" id="factory_id" name="factory_id" value="" />
                    </div>
                    <div class="wrap">
                        <label>工厂名</label>
                        <input type="text" id="factory_name" name="factory_name" value=""  >
                    </div>
                    <div class="wrap">
                        <label>装运单号</label>
                        <input type="text" id="transport_id" name="transport_id" value=""/>
                    </div>
                    <div class="wrap">
                        <label>交货单号</label>
                        <input type="text" id="Delivery_id" name="Delivery_id" value="" />
                    </div>
                    <div class="wrap">
                        <label>售达方代码</label>
                        <input type="text" id="reachout_id" name="reachout_id" value="" />
                    </div>
                    <div class="wrap">
                        <label>售达方名称</label>
                        <input type="text" id="reachout_name" name="reachout_name" value="" />
                    </div>
                    <div class="wrap">
                        <label>送达方代码</label>
                        <input type="text" id="reachby_id" name="reachby_id" value="" />
                    </div>
                    <div class="wrap">
                        <label>送达方名称</label>
                        <input type="text" id="reachby_name" name="reachby_name" value="" />
                    </div>
                    <div class="wrap">
                        <label>物料名</label>
                        <input type="text" id="material_name" name="material_name" value="" />
                    </div>
                    <div class="wrap">
                        <label>交货数量</label>
                        <input type="text" id="Delivery_num" name="Delivery_num" value="" />
                    </div>
                    <div class="wrap">
                        <label>详细批次</label>
                        <input type="text" id="detailed" name="detailed" value="" />
                    </div>
                    <div class="wrap btn">
                        <input type="submit" class="save" id="btn_update" value="修改"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- 拆分 -->
        <div class="cf">
            <div class="head">
                <span>拆分商品</span>
                <a href="javascript:" class="close_cf">×</a>
            </div>
            <div class="contents" style="padding: 20px;">
                <form class="layui-form" action="{:url('Outbound/chaifen')}" method="post" enctype="multipart/form-data">
                    <div class="wrap">
                        <input type="hidden" id="cf_id" name="cf_id" value="">
                        <input type="hidden" id="cf_delivery_time" name="cf_delivery_time" value="">
                        <input type="hidden" id="cf_factory_id" name="cf_factory_id" value="">
                        <input type="hidden" id="cf_factory_name" name="cf_factory_name" value="">
                        <input type="hidden" id="cf_transport_id" name="cf_transport_id" value="">
                        <input type="hidden" id="cf_Delivery_id" name="cf_Delivery_id" value="">
                        <input type="hidden" id="cf_reachout_id" name="cf_reachout_id" value="">
                        <input type="hidden" id="cf_reachout_name" name="cf_reachout_name" value="">
                        <input type="hidden" id="cf_reachby_id" name="cf_reachby_id" value="">
                        <input type="hidden" id="cf_reachby_name" name="cf_reachby_name" value="">
                        <input type="hidden" id="cf_material_id" name="cf_material_id" value="">
                        <input type="hidden" id="cf_material_name" name="cf_material_name" value="">
                        <input type="hidden" id="cf_detailed" name="cf_detailed" value="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">总数</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" id="cf_Delivery_num" name="cf_Delivery_num" value="" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="layui-form-item">
                            <label class="layui-form-label">拆分数量</label>
                            <div class="layui-input-block" style="display: flex;">
                                <input type="text" class="layui-input" name="detailed[]" value="" style="margin-right: 10px;" />
                                <input type="text" class="layui-input" name="detailed[]" value="" style="margin-right: 10px;" />
                                <input type="text" class="layui-input" name="detailed[]" value="" style="margin-right: 10px;" />
                            </div>
                        </div>
                    </div>
                    <div class="wrap btn">
                        <input type="submit" class="layui-btn save" value="修改"/>
                    </div>
                </form>
            </div>
        </div>
        <script src="/static/jquery-1.9.1.min.js"></script>
        <script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
        <script src="/layui/layui.js"></script>
        <script type="text/javascript">
            layui.use(['element','laydate','form'], function(){
                var laydate = layui.laydate;
                var element = layui.element;
                let form = layui.form;
                laydate.render({
                    elem: '#s_delivery_time'
                    ,range: '~'
                    ,done: function(value){
                        $('#s_delivery_time').val(value)
                    }
                });
            })
            //导入excel表
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
            })
            //详细
			$('.img_edit').on('click', function(){
				$('.model_edit').show();
			})
            //拆分
            $('.chaifen').on('click', function(){
				$('.cf').show();
			})
            // 关闭
            $('.close_edit').on('click', function(){
				$('.model_edit').hide();
			})
            $('.close_cf').on('click', function(){
				$('.cf').hide();
			})
            // 点击详细
            $('.img_edit').click(function(){
				let val = $(this).parents('tr').find('input[type=hidden]').val();
                // alert(val);exit;
				$.ajax({
					url:'/index/Outbound/record_edit',
					type:'post',
					data:{'id':val},
					success:function(data){
                        $('#id').val(data.id)
						$('#delivery_time').val(data.delivery_time)
						$('#factory_id').val(data.factory_id)
						$('#factory_name').val(data.factory_name)
						$('#transport_id').val(data.transport_id)
						$('#Delivery_id').val(data.Delivery_id)
						$('#reachout_id').val(data.reachout_id)
						$('#reachout_name').val(data.reachout_name)
						$('#reachby_id').val(data.reachby_id)
						$('#reachby_name').val(data.reachby_name)
						$('#material_name').val(data.material_name)
						$('#Delivery_num').val(data.Delivery_num)
						$('#zt_num').val(data.zt_num)
						$('#detailed').val(data.detailed)
					}
				})
            })
            // 点击拆分
            $('.chaifen').click(function(){
				let val = $(this).parents('tr').find('input[type=hidden]').val();
				$.ajax({
					url:'/index/Outbound/cf_edit',
					type:'post',
					data:{'id':val},
					success:function(data){
						$('#cf_id').val(data.id)
						$('#cf_delivery_time').val(data.delivery_time)
						$('#cf_factory_id').val(data.factory_id)
						$('#cf_factory_name').val(data.factory_name)
						$('#cf_transport_id').val(data.transport_id)
						$('#cf_Delivery_id').val(data.Delivery_id)
						$('#cf_reachout_id').val(data.reachout_id)
						$('#cf_reachout_name').val(data.reachout_name)
						$('#cf_reachby_id').val(data.reachby_id)
						$('#cf_reachby_name').val(data.reachby_name)
						$('#cf_material_id').val(data.material_id)
						$('#cf_material_name').val(data.material_name)
						$('#cf_Delivery_num').val(data.Delivery_num)
						$('#cf_detailed').val(data.detailed)
					}
				})
            })
            //全选或全不选
            $("#all").click(function(){
                let arr = [];
                if(this.checked){
                    $("#check :checkbox,#all").prop("checked", true);
                    let checks = $('.tbd ').find('input:checkbox');
                    checks.each(function () {
                        arr.push($(this)[0].value);
                    })
                    sessionStorage.setItem('out_session',JSON.stringify(arr));
                }else{
                    $("#check :checkbox,#all").prop("checked", false);
                    sessionStorage.removeItem('out_session');
                }
            });

            // 出库单生成
            $("#outorder").on("click",function(){
                var orders = sessionStorage.getItem('out_session');
                location.href = "/index/Outbound/make_outbound_order/id/"+orders;
            })

            let out_session=[];
            $('.tbd').on('click','input[type=checkbox]',function () {
                let ses=JSON.parse(sessionStorage.getItem('out_session'));
                out_session = ses === null ? [] : ses;
                if($(this)[0].checked == true){
                    out_session.push($(this).val());
                }else{
                    let val = $(this).val();
                    for (let i in out_session){
                        if(out_session[i] == val){
                            out_session.splice(i,1);
                        }
                    }
                }
                sessionStorage.setItem('out_session',JSON.stringify(out_session));
            })

            $(function () {
                let list = JSON.parse(sessionStorage.getItem('out_session'));
                if(list != null){
                    $('.new_list input[type=checkbox]').each(function () {
                        if(list.includes($(this).val()) ){
                            $(this).prop('checked',true);
                        }
                    })
                }
            })

        $("#rukuorder").on("click",function(){
            var orders = sessionStorage.getItem('out_session');
            location.href = "/index/Rukuorder/index/id/"+orders;
        })

        $('#outExcel').on('click', function(){
            alert(1);
            var data = sessionStorage.session;
            var params = {id:data};
            $.post("{:url('Cwmanagement/outExcel')}",params,function(res){
                // alert(res.status);
                if(res.status){
                    window.location.href = ("{:Url('index/Cwmanagement/download')}?file="+res.url);
                }else{
                    layer.msg('系统错误，操作失败');
                }
            },'json')
        })
            $('#dc').on('click', function() {
                var data = sessionStorage.out_session;
                console.log(data)
                if(data !=  undefined || data != null){
                    var params = {id: data};
                    $.post("{:url('Outbound/outExcel')}", params, function (res) {
                        if(res.error==0){
                            alert(res.msg);
                            return false;
                        }
                        if (res.status) {
                            window.location.href = ("{:Url('index/Outbound/download')}?file=" + res.url);
                        } else {
                            layer.msg('系统错误，操作失败');
                        }
                    }, 'json')
                }
                else {
                    layer.alert('请选择需要导出的数据',{icon:5})
                    return false;
                }
            })


        </script>
	</body>
</html>
