<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" href="/images/index.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <style>
        .layui-textarea{min-height: 0;padding: 3px 10px;line-height: initial;}
        .submit{margin-left: 30px;margin-top: 30px;}
        .container{display: block;overflow-x: hidden;height: 580px;}
        .container::-webkit-scrollbar{width: 0;}
        .layui-form-radio{margin: 0;padding: 0;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">入库管理</a>
            <a><cite>入库单</cite></a>
        </span>
    </div>

    <form method="post" class="layui-form" action="{:url('Outbound/insert')}">
        <div class="form_box">
            <div class="layui-form-item">
                <label class="layui-form-label">装运单号:</label>
                <div class="layui-input-inline">
                    {volist name='zy' id='zy'}
                    <input type="text" name="transport_id" autocomplete="off" class="layui-input" value="{$zy.transport_id}">
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">售达方:</label>
                    <div class="layui-input-inline">
                        {volist name='sd' id='sd'}
                        <input type="text" name="reachout_name" autocomplete="off" class="layui-input" value="{$sd.reachby_name}" >
                        {/volist}
                    </div>
                </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发货日期:</label>
                <div class="layui-input-inline">
                    {volist name='fh' id='fh'}
                    <input type="text" name="delivery_time" autocomplete="off" class="layui-input" id="time" value="{$fh.delivery_time}">
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">运输方式:</label>
                <div class="layui-input-inline">
                    <input type="text" name="transport" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">车牌号码:</label>
                <div class="layui-input-inline">
                    <input type="text" name="carid" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">司机:</label>
                <div class="layui-input-inline">
                    <input type="text" name="driver" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">司机电话:</label>
                <div class="layui-input-inline">
                    <input type="text" name="driverphone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工人:</label>
                <div class="layui-input-inline">
                    <input type="text" name="workers" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">承运单位:</label>
                <div class="layui-input-inline">
                    <input type="text" name="transport_unit" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">仓库:</label>
                <div class="layui-input-inline">
                    <select name="ck_id" lay-filter="ck_id" id="table" onchange="showtable(this.value)">
                        <option value="0">请选择仓库</option>
                        <?php foreach($cks as $ck): ?>
                        <option value="<?=$ck['id']?>"><?=$ck['name']?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="layui-table" style="width: 96%; margin: 12px auto;">
                <thead>
                    <tr>
                        <th>交货单号</th>
                        <th>产品名称</th>
                        <th>总数量</th>
                        <th>货位</th>
                        <th>货位分配数</th>
                        <th>毛重</th>
                        <th>净重</th>
                        <th>货位剩余数</th>
                        <th>备注</th>
                        <th>操作</th>
                </thead>
                <tbody class="tbd">
                    {volist name='rows' id='v'}
                    <tr>
                        <input type="hidden" name="cd[]" value="{$v.id}">
                        <td>
                            <input type="hidden" value="{$v.Delivery_id}" name="Delivery_id[]" readonly>
                            {$v.Delivery_id}
                        </td>
                        <td class="status">
                            <input type="hidden" value="{$v.material_name}" name="material_name[]" readonly>
                            {$v.material_name}
                        </td>
                        <td>
                            <input type="hidden" value="{$v.num}" name="delivery_num[]" readonly>
                            {$v.num}
                        </td>
                        <td class="huowei">
                            <botton class="layui-btn layui-btn-sm dia">点击</botton>
                        </td>
                        <td class="count">
                            <input type="hidden" value="huowei_out" name="huowei_out[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="mao">
                            <input type="hidden" value="mao" name="mao[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="jin">
                            <input type="hidden" value="jin" name="jin[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="sy_count">
                            <input type="hidden" value="sy_count" name="sy_count[]" readonly>
                            <span>0</span>
                        </td>
                        <td>
                            <input type="hidden" value="{$v.detailed}" name="detailed[]" readonly>
                            {$v.detailed}
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm add">
                                <i class="layui-icon">&#xe654;</i>
                            </button>
                        </td>
                        
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <span>
                合计数量：合计重量：派车人签字：
            </span></br>
            <span>
                保管签字：司机确认：
            </span>
            <button class="layui-btn submit" lay-submit lay-filter="formDemo">立即提交</button>
        </div>


    </form>
</div>
<div class="model_table" style="display: none; top: 45%; overflow: hidden;">
    <div class="head">
        <span>修改商品</span>
        <a href="javascript:" class="close">×</a>
    </div>
    <div class="content" style="height: 100%;overflow-x: hidden;">
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <th></th>
                <th>产品名称</th>
                <th>产品日期</th>
                <th>货位名称</th>
                <th>库存数量</th>
                <th>出库数量</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody class="kc_list"></tbody>
        </table>
        <button class="layui-btn sure" style="margin-top: 20px;">确定</button>
    </div>

</div>
<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element', 'form','laydate','layer'], function () {
        let element = layui.element;
        let form = layui.form;
        let laydate = layui.laydate;
        let layer = layui.layer;
        laydate.render({
            elem: '#time',
            type: 'date'
        })

        $('.layui-table').on('click', '.add', function(){
            let _tr = $(this).parents('tr');
            let child = _tr[0].children;
            console.log(child)

            let html = `<tr>
                        <input type="hidden" class="rukuform_xq_id" value="${child[0].value}">
                        <td>
                            <input type="hidden" value="${child[1].innerText}" name="Delivery_id[]" readonly>
                            ${child[1].innerText}
                        </td>
                        <td class="status">
                            <input type="hidden" value="${child[2].innerText}" name="material_name[]" readonly>
                            ${child[2].innerText}
                        </td>
                        <td>
                            <input type="hidden" value="${child[3].innerText}" name="delivery_num[]" readonly>
                            ${child[3].innerText}
                        </td>
                        <td class="huowei">
                            <botton class="layui-btn layui-btn-sm dia">点击</botton>
                        </td>
                        <td class="count">
                            <input type="hidden" value="huowei_out" name="huowei_out[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="mao">
                            <input type="hidden" value="mao" name="mao[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="jin">
                            <input type="hidden" value="jin" name="jin[]" readonly>
                            <span>0</span>
                        </td>
                        <td class="sy_count">
                            <input type="hidden" value="${child[8].innerText}" name="sy_count[]" readonly>
                            <span>${child[8].innerText}</span>
                        </td>
                        <td>
                            <input type="hidden" value="${child[9].innerText}" name="detailed[]" readonly>
                            ${child[9].innerText}
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm add">
                                <i class="layui-icon">&#xe654;</i>
                            </button>
                            <button type="button" class="layui-btn layui-btn-sm remove">
                                <i class="layui-icon">&#xe640;</i>
                            </button>
                        </td>
                        
                    </tr>`;
            $('.tbd').append(html);
            form.render();

        })

        form.on('select(ck_id)', function(data){
            let id = data.elem.value;
            if(id != 0){
                $('.showhuowei').empty();
                $.ajax({
                    type: "get",//请求方式有post，get请求方式，这里是post请求
                    url: '/index/Outbound/huowei/id/' + id,//请求的方法的路径
                    dataType: 'json',//请求参数的格式为json.另外还有text等
                    success: function(data){
                        var data = JSON.parse(data);
                        $('.showhuowei').append("<option value=''>请选择货位</option>");
                        for (var i=0;i<data.length;i++)
                        {
                            $('.showhuowei').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                        }
                        form.render();
                    }
                })
            }

        })


        let par = '';
        $('.tbd').on('click', '.dia', function () {
            let id = $('#table').val();
            console.log(id)
            if(id == 0){
                layer.alert('请选择仓库',{icon:5});
                return false;
            }
            else {
                par = $(this).parents('tr');
                $('.kc_list').empty();
                $('.model_table').show();

                $.ajax({
                    url:'/index/Table/houwei_ck',
                    data: {id},
                    success:function (data) {
                        console.log(data)
                        let html = '';
                        for (let i =0; i<data.length; i++){
                            html += ` <tr>
                            <input type="hidden" id="id" class="layui-input" value="${data[i].id}">
                            <input type="hidden" id="m" class="layui-input" value="${data[i].m}">
                            <input type="hidden" id="j" class="layui-input" value="${data[i].j}">
                            <input type="hidden" id="c_id" class="layui-input" value="${data[i].c_id}">

                            <td><input type="radio" name="sex" value="nan" title=""></td>
                            <td>${data[i].product_name}</td>
                            <td>${data[i].product_time}</td>
                            <td class="hw">${data[i].name}</td>
                            <td>${data[i].sy_count}</td>
                            <td><input type="text" class="layui-input" style="width: 80px;"></td>
                            <td>${data[i].content}</td>
                        </tr>`;
                        }
                        $('.kc_list').append(html)
                        form.render()
                    }
                })
            }
        })


        $('.sure').on('click', function () {

            $('.model_table').hide();

            let che = $('.kc_list').find('input:radio:checked')[0];
            let tr = $(che).parents('tr');
            let id = tr.find('#id').val();
            let m = tr.find('#m').val();
            let j = tr.find('#j').val();
            let c_id = tr.find('#c_id').val();
            let hw = tr.find('.hw').text();
            let num = tr.find('input[type=text]').val();

            $.ajax({
                url:'/index/Table/houwei_cd',
                data:{id, m, j, count:num},
                success:function (d) {
                    console.log(d)
                    par.find('.rukuform_xq_id').val(id);
                    par.find('.huowei').html(`<input type="hidden" value="${c_id}" name="huowei_name[]" readonly><span>${hw}</span>`);
                    par.find('.count').find('span').text(num);
                    par.find('.count').find('input').val(num);
                    par.find('.mao').find('span').text(d.j);
                    par.find('.mao').find('input').val(d.j);
                    par.find('.jin').find('span').text(d.m);
                    par.find('.jin').find('input').val(d.m);
                    par.find('.sy_count').find('span').text(d.sy);
                    par.find('.sy_count').find('input').val(d.sy);
                }
            })
        })
    })

    // 修改商品数量
    $('.tbd').on('blur', '.countnum', function(){
        let parent =$(this).parents('tr');
        //净重
        let min = $(this).parents('tr').find('input[name=gross_min]').val();
        //毛重
        let gross_min = $(this).parents('tr').find('input[name=min]').val();
        let max = $(this).val()
        $.ajax({
            url:'/index/Rukuorder/blur',
            data:{'min':min,'max':max,'groos_min':gross_min},
            success:function (data) {
                parent.find('.num').next().text(data.number)
                parent.find('.groos').next().text(data.groos)
                parent.find('.groos').val(data.groos)
                parent.find('.num').val(data.number)
            }
        })
    })
    //生成时删除sessionstorage
    $('#del').click(function () {
        sessionStorage.removeItem('session')
        })

    $('.tbd').on('click','.remove', function(){
        let p = $(this).parents('tr');
        p.remove();
        let id=p.find('.rukuform_xq_id').val();
    let num=p.find('.count').find('input').val();
    p.remove();
    $.ajax({
        url:'/index/Table/huifu',
        data:{id,num}
    })
    })

    $('.close').on('click', function(){
        $('.model_table').hide();

    })

</script>
</body>
</html>
