<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
    <div class="note">
        <div class="nav">
            <span class="layui-breadcrumb">
                <a href="/public/main.html" target="box">首页</a>
                <a href="javascript:;">出库管理</a>
                <a><cite>订单列表</cite></a>
            </span>
        </div>
    </div>

    <div>
        <table class="layui-table">
            
        </table>
    </div>

    <script src="/static/js/jquery.1.9.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            
        })
    </script>

</body>
</html>