<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .form-box{
            display: flex;
            padding: 35px;
        }
        .form-box .layui-input{
            width: 80%;
        }
    </style>
</head>
<body>
    <div class="note">
        <div class="nav">
            <span class="layui-breadcrumb">
                <a href="/public/main.html" target="box">首页</a>
                <a href="javascript:;">出库管理</a>
                <a><cite>订单列表详情</cite></a>
            </span>
        </div>
        <div class="bd_content form-box">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">装运单号</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">实装数量</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">发货日期</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">售达方</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">毛重</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">净重</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">司机姓名</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">司机电话</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">车牌号</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">油卡</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
            </div>

            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">合同编号</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">毛重运费</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">净重运费</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">净重运费</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">回单</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">蒙牛运价</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">蒙牛总价</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">扣款备注</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="1" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="2019-09-20" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            
        })
    </script>

</body>
</html>