<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>
	<title>新增权限</title>
	<link rel="stylesheet" href="/images/css.css">
	<link rel="stylesheet" href="/images/boot.css">
	<link href="/images/index.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
	<style type="text/css">
		.layui-table th{text-align: center;font-weight: bold;}
		.layui-table td{text-align: center;}
	</style>
	</head>
	<body>
		<div class="note">
			<div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">入库管理</a>
					<a><cite>入库台账</cite></a>
				</span>
			</div>
			<div class="seach">
				<form action="{:url('Outbound/warehousing')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
					<div class="layui-form-item">
						<label class="layui-form-label">出库仓库</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="transfers_i" name="s_transfers_id" value="<?php if(!empty($data['transfers_id'])){echo $data['transfers_id'];}?>" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出库时间</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="delivery_time" name="s_delivery_time" placeholder=" - " value="<?php if(!empty($data['delivery_time'])){echo $data['delivery_time'];}?>">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">交货单号</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="s_material_name" name="s_material_name"  value="<?php if(!empty($data['material_name'])){echo $data['material_name'];}?>"/>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<button class="layui-btn save" lay-submit>查询</button>
						</div>
					</div>
				</form>
			</div>
			<table class="layui-table" style="width: 96%; margin: 12px auto;">
				<thead>
				<tr>
					<th>ID</th>
					<th>审核</th>
					<th>出库仓库</th>
					<th>装运单号</th>
					<th>交货单号</th>
					<th>出库日期</th>
					<th>总数量</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				{volist name='rows' id='row'}
				<tr>
					<td>{$row.id}</td>
					<td>已审核</td>
					<td>{$row.w_name}</td>
					<td>{$row.transport_id}</td>
					<td>{$row.delivery_id}</td>
					<td>{$row.delivery_time|date="Y-m-d",###}</td>
					<td>{$row.count}</td>
					<td>
						<a href="#" class="edit xq" title="详情" style="margin-right: 15px;"><i class="ico">&#xe619;</i></a>
						<a href="{:url('Outbound/warehousing_del','id='.$row.id)}" title="删除"><i class="ico">&#xe605;</i></a>
					</td>
				</tr>
				{/volist}
				</tbody>
			</table>
			<div style="text-align:center; margin-bottom: 200px;">
				{$rows->render()}
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layui/layui.js"></script>
		<script type="text/javascript">
			layui.use('element', function () {
				
			})
			
			//详情
			$('.xq').on('click',function () {
				let id=$(this).parents('tr').find('td').eq(0).text();
				location.href='/index/Outbound/warehousing_show?id='+id;
			})
		</script>
	</body>
</html>
