<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<title>后台管理系统</title>
        <link rel="stylesheet" href="/images/boot.css">
        <link href="/images/index.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="/images/css.css">
        <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
        <style>
            .search{margin-top: 20px;margin-left: 30px;}
            .search .layui-form-label{width: auto;}
        </style>
	</head>
	<body>
		<div class="note">
            <div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">在库管理</a>
					<a><cite>托盘管理</cite></a>
				</span>
            </div>
        </div>
        <script src="/static/jquery-1.9.1.min.js"></script>
        <script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
        <script src="/layui/layui.js"></script>
        <script type="text/javascript">
        </script>
	</body>
</html>