<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>新增权限</title>
		<link href="/images/index.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="/images/css.css">
<!--		<link rel="stylesheet" href="/images/boot.css">-->
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
		<style type="text/css">
			.layui-table th{text-align: center;font-weight: bold;}
			.layui-table td{text-align: center;}
		</style>
	<body>
		<div class="note">
			<div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">管理</a>
					<a><cite>库房管理</cite></a>
				</span>
			</div>
			<div class="handle">
				<button type="button" class="layui-btn" id="dialog">添加</button>
			</div>
			<table class="layui-table" style="width: 96%; margin: 12px auto;">
				<thead>
				<tr>
					<th>ID</th>
					<th>库房名称</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				{volist name='rows' id='row'}
					<tr>
						<td>{$row['id']}</td>
						<td>{$row['name']}</td>
						<td>{$row['state_time']}</td>
						<td>
							<a href="#" class="edit ks" title="编辑"><i class="ico">&#xe619;</i></a>
							<a href="{:url('Run/warehouse_del','id='.$row['id'])}" title="删除"><i class="ico">&#xe605;</i></a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>

		<!--添加-->
		<div class="model">
			<div class="head">
				<span>添加</span>
				<a href="javascript:" class="close">×</a>
			</div>
			<div class="content">
				<form action="{:url('Run/warehouse_add')}" method="post">
					<div class="wrap">
						<label>库房名称:</label>
						<input type="text" name="name" value="" required oninput="setCustomValidity('')" placeholder='成都库房'/>
					</div>
					<div class="wrap">
						<label>库房说明</label>
						<textarea name="content" id="" cols="30" rows="10"></textarea>
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<!--修改-->
		<div class="model_edit">
			<div class="head">
				<span>修改</span>
				<a href="javascript:" class="close_edit">×</a>
			</div>
			<div class="content">
				<form action="{:url('Run/warehouse_edit')}" method="post">
					<input type="hidden" name="id" id="id">
					<div class="wrap">
						<label>部门名称:</label>
						<input type="text" id="name" name="name">
					</div>
					<div class="wrap">
						<label>部门说明:</label>
						<textarea name="content" id="content" cols="30" rows="10"></textarea>
					</div>
					<div class="wrap btn">
						<input type="submit" class="save" value="确定"/>
						<input type="reset" class="reset" value="重置"/>
					</div>
				</form>
			</div>
		</div>
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/layui/layui.js"></script>
		<script>
			layui.use('element', function () {
				let element = layui.element;
			})
		</script>

		<script type="text/javascript">
			//添加
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
			})

			//修改
			$('.edit').on('click', function(){
				$('.model_edit').show();
			})
			$('.close_edit').on('click', function(){
				$('.model_edit').hide();
			})

			//查看数据
			$('.ks').click(function () {
				let id=$(this).parents('tr').find('td').eq(0).text();
				$.ajax({
					url:'/index/Run/warehouse_select',
					type:'post',
					data:{"id":id},
					success:function (data) {
						$('#name').val(data.name)
						$('#content').val(data.content)
						$('#id').val(data.id)
					}
				})
			})
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>
