<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>状态管理</title>
    <link rel="stylesheet" href="/images/boot.css">
    <link href="/images/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <style type="text/css">
        .layui-table th{text-align: center;font-weight: bold;}
        .layui-table td{text-align: center;}
        #upload-add,#upload-edit{height: 30px;line-height: 30px;padding: 0 10px;margin-left: 10px;}
        label{box-sizing: content-box;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">管理</a>
            <a><cite>产品属性</cite></a>
        </span>
    </div>
    <div class="seach">
        <form action="{:url('Run/warker_list_show')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
            <input type="hidden" name="id" value="{$id}">
            <div class="layui-form-item">
                <label class="layui-form-label">作业时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="s_delivery_time" name="s_delivery_time" autocomplete="off" placeholder=" - " value="<?php if(!empty($s_delivery_time)){echo $s_delivery_time;}?>">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn save" lay-submit>查询</button>
                </div>
            </div>
        </form>
    </div>
    <table class="layui-table" style="width: 96%; margin: 12px auto;">
        <thead>
            <tr>
                <th>作业时间</th>
                <th>工人姓名</th>
                <th>装运单号</th>
                <th>客户名称</th>
                <th>总数量</th>
                <th>总重量</th>
                <th>单价</th>
                <th>装卸费</th>
                <th>作业类型</th>
            </tr>
        </thead>
        <tbody>
            {volist name='rows' id='r'}
            <tr class="tbd">
                <input type="hidden" value="{$r.id}">
                <td><?php if($r['time']){echo date('Y-m-d H:i:s',$r['time']);} ?></td>
                <td>{$r.w_name}</td>
                <td>{$r.numbers}</td>
                <td>{$r.name}</td>
                <td>{$r.num}</td>
                <td>{$r.weight}</td>
                <td><input type="text" name="money" class="blur" value=""></td>
                <td class="money">{$r.money}</td>
                <td>{$r.task}</td>
            </tr>
            {/volist}
        </tbody>
    </table>
    <div style="padding: 0 30px"><span>总数量：{$num}</span><span style="padding:0 40px">总重量：{$weight}</span><span>总费用：{$money}</span></div>
    <div style="text-align:center; margin-bottom: 200px;">
        {$rows->render()}
    </div>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element','laydate','form'], function(){
        var laydate = layui.laydate;
        var element = layui.element;
        let form = layui.form;
        laydate.render({
            elem: '#s_delivery_time'
            ,range: '~'
            ,done: function(value){
                $('#s_delivery_time').val(value)
            }
        });
    })
    $('.blur').on('blur',function () {
        let parent =$(this).parents('tr');
        let id=$(this).parents('.tbd').find('input[type=hidden]').val();
        let weight=$(this).parents('.tbd').find('td').eq(5).text();
        let money=$(this).parents('.tbd').find('input[type=text]').val();
        $.ajax({
            url:'/index/Run/warker_money',
            data:{id,weight,money},
            success:function (data) {
                parent.find('.money').text(data);
                console.log(data)
            }
        })
    })
</script>
</body>
</html>
