<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<title>后台管理系统</title>
        <link rel="stylesheet" href="/images/boot.css">
        <link href="/images/index.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="/images/css.css">
        <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
        <style>
            .search{margin-top: 20px;margin-left: 30px;}
            .search .layui-form-label{width: auto;}

        </style>
	</head>
	<body>
		<div class="note">
            <div class="nav">
				<span class="layui-breadcrumb">
					<a href="/public/main.html" target="box">首页</a>
					<a href="javascript:;">入库管理</a>
					<a><cite>在途台账</cite></a>
				</span>
            </div>
            <div class="handle">
                <button type="button" class="layui-btn" id="dialog">导入excel表</button>
                <a href="{:url('Cwmanagement/clink')}" class="layui-btn" id="clink">清除数据</a>
                <button type="button" class="layui-btn" id="del">删除</button>
                <button type="button" class="layui-btn" id="rukuorder">生成入库单</button>
            </div>
            <div class="search">
                <form action="{:url('Cwmanagement/index')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">调拨订单号</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="transfers_i" name="s_transfers_id" value="<?php if(!empty($s_transfers_id)){echo $s_transfers_id;}?>" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="s_delivery_time" name="s_delivery_time" autocomplete="off" placeholder=" - " value="<?php if(!empty($s_delivery_time)){echo $s_delivery_time;}?>">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">物料名</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="s_material_name" name="s_material_name"  value="<?php if(!empty($s_material_name)){echo $s_material_name;}?>"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工厂</label>
                        <div class="layui-input-inline">
                          <select name="factory" id="factory">
							<option value="">请选择</option>
                            {volist name='res' id='r'}
							<option value="{$r['name']}" <?php if($factory==$r['name']){echo 'selected';} ?>>{$r['name']}</option>
							{/volist}
                          </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <button class="layui-btn save" lay-submit>查询</button>
                        </div>
                    </div>
                 </form>
            </div>
            <main class="bd_content">
                <table class="layui-table new_list" style="width: 96%;margin: 12px auto;">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="all"></th>
                        <th>调拨订单编号</th>
                        <th>物料名</th>
                        <th>调拨出库工厂</th>
                        <th>生产日期</th>
                        <th>调出数量</th>
                        <th>调拨出库日期</th>
                        <th>调拨入库数量</th>
                        <th>净重</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="tbd">
                    {if condition="!empty($list)"}
                    {volist name='list' id='r'}
                    <tr id="check" class="news_list">
                        <input type="hidden" name="id" value="{$r.id}">
                        <td><input type="checkbox" value="{$r.id}"></td>
                        <td>{$r.transfers_id}</td>
                        <td>{$r.material_name}</td>
                        <td>{$r.transfers_factory}</td>
                        <td><?php if($r['production_time']!=0){echo date("Y/m/d",$r['production_time']);}?></td>
                        <td>{$r.Bring_up_num}</td>
                        <td><?php if($r['delivery_time']!=0){echo date("Y/m/d",$r['transfers_into_time']);}?></td>
                        <td>{$r.transfers_into_num}</td>
                        <td>{$r.Bring_up_net_weight}</td>
                        <td>

                            <a href="#" class="img_edit" title="详细" style="margin-right: 15px;"><i class="ico">&#xe619;</i></a>
                            <a href="{:url('Cwmanagement/check_record_del','id='.$r.id)}" class="" title="删除"><i class="ico">&#xe605;</i></a>
                        </td>
                    </tr>
                    {/volist}
                    {/if}
                    </tbody>
                </table>
                <div style="text-align:center; margin-bottom: 200px;">
                    {$list->render()}
                </div>
            </main>
        </div>
        <!-- 导入 -->
        <div class="model">
            <div class="head">
                <span>导入excel表</span>
                <a href="javascript:" class="close">×</a>
            </div>
            <div class="content">
                <form action="{:url('Cwmanagement/upload_excel')}" method="post" enctype="multipart/form-data">
                    <div class="wrap">
                        <input type="file" name="file" value="" />
                        <input type="submit" class="save" id="btn" value="确定"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- 详细 -->
        <div class="model_edit">
                <div class="head">
                    <span>修改商品</span>
                    <a href="javascript:" class="close_edit">×</a>
                </div>
                <div class="content" style="height:550px;width:800px;overflow:auto;">
                    <form action="{:url('Cwmanagement/record_update')}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" id="id">
                        <div class="wrap">
                            <label>调拨订单号</label>
                            <input type="text" id="transfers_id" name="transfers_id" value="" />
                        </div>
                        <div class="wrap">
                            <label>交付单号</label>
                            <input type="text" id="delivery_id" name="delivery_id" value="" />
                        </div>
                        <div class="wrap">
                            <label>交货单实际出库日期</label>

                            <input type="text" id="delivery_time" name="delivery_time" value=""  placeholder="xxxx/x/x"/>
                        </div>
                        <div class="wrap">
                            <label>调拨出库工厂</label>
                            <input type="text" id="transfers_factory" name="transfers_factory" value="" />
                        </div>
                        <div class="wrap">
                            <label>物料名称</label>
                            <input type="text" id="material_name" name="material_name" value="" />
                        </div>
                        <div class="wrap">
                            <label>生产日期</label>
                            <input type="text" id="production_time" name="production_time" value=""  placeholder="xxxx/x/x"/>
                        </div>
                        <div class="wrap">
                            <label>装运类型</label>
                            <input type="text" id="transport_type" name="transport_type" value="" />
                        </div>
                        <div class="wrap">
                            <label>集装箱号/车皮号</label>
                            <input type="text" id="container_id" name="container_id" value="" />
                        </div>
                        <div class="wrap">
                            <label>在途净重</label>
                            <input type="text" id="zt_net_weight" name="zt_net_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>在途毛重</label>
                            <input type="text" id="zt_Gross_weight" name="zt_Gross_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>在途数量</label>
                            <input type="text" id="zt_num" name="zt_num" value="" />
                        </div>
                        <div class="wrap">
                            <label>调出数量</label>
                            <input type="text" id="Bring_up_num" name="Bring_up_num" value="" />
                        </div>
                        <div class="wrap">
                            <label>调拨入库时间</label>
                            <input type="text" id="transfers_into_time" name="transfers_into_time" value=""  placeholder="xxxx/x/x"/>
                        </div>
                        <div class="wrap">
                            <label>调拨入库地点</label>
                            <input type="text" id="transfers_into_addres" name="transfers_into_addres" value="" />
                        </div>
                        <div class="wrap">
                            <label>调拨出库地点</label>
                            <input type="text" id="transfers_out" name="transfers_out" value="" />
                        </div>
                        <div class="wrap">
                            <label>调出毛重</label>
                            <input type="text" id="Bring_up_Gross_weight" name="Bring_up_Gross_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>调出净重</label>
                            <input type="text" id="Bring_up_net_weight" name="Bring_up_net_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>调拨入库数量</label>
                            <input type="text" id="transfers_into_num" name="transfers_into_num" value="" />
                        </div>
                        <div class="wrap">
                            <label>调拨入库毛重</label>
                            <input type="text" id="transfers_into_Gross_weight" name="transfers_into_Gross_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>调拨入库净重</label>
                            <input type="text" id="transfers_into_net_weight" name="transfers_into_net_weight" value="" />
                        </div>
                        <div class="wrap">
                            <label>备注</label>
                            <input type="text" id="note" name="note" value="" />
                        </div>

                        <div class="wrap btn">
                            <input type="submit" class="save" id="btn_update" value="修改"/>
                        </div>
                    </form>
                </div>
        </div>
        <script src="/static/jquery-1.9.1.min.js"></script>
        <script src="/static/layer/layer.js" type="text/javascript" charset="utf-8"></script>
        <script src="/layui/layui.js"></script>
        <script type="text/javascript">
            //导入excel表
			$('#dialog').on('click', function(){
				$('.model').show();
			})
			$('.close').on('click', function(){
				$('.model').hide();
            })
            //详细
			$('.img_edit').on('click', function(){
				$('.model_edit').show();
			})
            $('.close_edit').on('click', function(){
				$('.model_edit').hide();
			})
            //详细回显
			$('.img_edit').click(function(){
				let val = $(this).parents('tr').find('input[type=hidden]').val();
				$.ajax({
					url:'/index/Cwmanagement/record_edit',
					type:'post',
					data:{'id':val},
					success:function(data){
					    if(data.error==0){
					        alert(data.message);
					        location.href='/index/Cwmanagement/index'
                        }
                        $('#id').val(data.id)
						$('#transfers_id').val(data.transfers_id)
						$('#delivery_id').val(data.delivery_id)
						$('#delivery_ti').val(data.delivery_time)
						$('#transfers_factory').val(data.transfers_factory)
						$('#material_name').val(data.material_name)
						$('#production_time').val(data.production_time)
						$('#transport_type').val(data.transport_type)
						$('#container_id').val(data.container_id)
						$('#zt_net_weight').val(data.zt_net_weight)
						$('#zt_Gross_weight').val(data.zt_Gross_weight)
						$('#zt_num').val(data.zt_num)
						$('#Bring_up_num').val(data.Bring_up_num)
						$('#transfers_into_time').val(data.transfers_into_time)
						$('#transfers_into_addres').val(data.transfers_into_addres)
						$('#transfers_out').val(data.transfers_out)
						$('#Bring_up_Gross_weight').val(data.Bring_up_Gross_weight)
						$('#Bring_up_net_weight').val(data.Bring_up_net_weight)
						$('#transfers_into_factory').val(data.transfers_into_factory)
						$('#transfers_into_num').val(data.transfers_into_num)
						$('#transfers_into_Gross_weight').val(data.transfers_into_Gross_weight)
						$('#transfers_into_net_weight').val(data.transfers_into_net_weight)
					}
				})
            })
            //全选或全不选
            $("#all").click(function(){
                let session_list = JSON.parse(sessionStorage.getItem('session'));
                let arr = session_list == null ? [] : session_list;
                if(this.checked){
                    $("#check :checkbox,#all").prop("checked", true);
                    let checks = $('.tbd ').find('input:checkbox');
                    checks.each(function () {
                        arr.push($(this)[0].value);
                    })
                    sessionStorage.setItem('session',JSON.stringify(arr));
                }else{
                    $("#check :checkbox,#all").prop("checked", false);
                    sessionStorage.removeItem('session');
                }
            });

            let check_all=[];
                // 删除选中
                $('#del').click(function(){
                    let list=$('.tbd').find("input:checkbox:checked");
                    if(list.length === 0){
                        layer.alert('请选择要删除的数据',{icon:5});
                        return false;
                    }else {
                        for (let i in list) {
                            if(list[i].checked){
                                check_all.push(list[i].value);
                            }
                        }
                        $.ajax({
                            url:'/index/Cwmanagement/check_record_del',
                            type:'post',
                            data:{'check_all':check_all},
                            success:function (data) {
                                if(data.error==1){
                                    layer.alert(data.ts, {
                                        icon: 6,
                                        yes:function(){
                                            location.href='/index/Cwmanagement/index';
                                        }
                                    });
                                    sessionStorage.removeItem('session');
                                }else{
                                    layer.alert(data.ts, {
                                        icon: 5,
                                        yes:function(){
                                            location.href='/index/Cwmanagement/index';
                                        }
                                    });
                                }
                                console.log(data);
                            },
                            error:function(error){
                                console.log('错误提示:' + error)
                            }
                        })
                    }
                })
        </script>

        <!-- 时间选择 -->
        <script>
            layui.use(['element','laydate','form'], function(){
                var laydate = layui.laydate;
                var element = layui.element;
                let form = layui.form;
                laydate.render({
                    elem: '#s_delivery_time'
                    ,range: '~'
                    ,done: function(value){
                        $('#s_delivery_time').val(value)
                    }
                });
            })

            let session=[];
            $('.tbd').on('click','input[type=checkbox]',function () {
                let ses=JSON.parse(sessionStorage.getItem('session'));
                session = ses === null ? [] : ses;
                if($(this)[0].checked == true){
                    session.push($(this).val());
                }else{
                    let val = $(this).val();
                    for (let i in session){
                        if(session[i] == val){
                            session.splice(i,1);
                        }
                    }
                }
                sessionStorage.setItem('session',JSON.stringify(session));
            })

            // 页面加载时判断哪些数据被选中,并显示选中状态
            $(function () {
                let array = [];
                let list = JSON.parse(sessionStorage.getItem('session'));
                if(list != null){
                    $('.tbd input[type=checkbox]').each(function () {

                        if(list.includes($(this).val()) ){
                            $(this).prop('checked',true);
                        }
                        array.push($(this)[0].checked);
                    })

                    // 当前页是否每一项都选中,是则勾选全选框
                    let result = array.every(function (val) {
                        return val == true;
                    })
                    if(result){
                        $('.new_list #all').prop('checked', true);
                    }
                }
            })

         //生出入库单
        $("#rukuorder").on("click",function(){
            var orders = sessionStorage.getItem('session');
            location.href = "/index/Rukuorder/index/id/"+orders;
        })

         // 导出
        $('#dc').on('click', function(){
            var data = sessionStorage.session;
            var params = {id:data};
            $.post("{:url('Cwmanagement/outExcel')}",params,function(res){
                if(res.status){
                    window.location.href = ("{:Url('index/Cwmanagement/download')}?file="+res.url);
                }else{
                    layer.msg('系统错误，操作失败');
                }
            },'json')
        })
        </script>
	</body>
</html>
