<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>在库管理</title>
    <link rel="stylesheet" href="/images/css.css">
<!--    <link rel="stylesheet" href="/images/boot.css">-->
    <link href="/images/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
    <style type="text/css">
        .button1{margin:2rem auto;width:600px;}
        .button1 a{padding:15px 60px;border-radius:4px;margin:0 10px;color:#fff;font-size:1.2em}

        .layui-table th{text-align: center;font-weight: bold;}
        .layui-table td{text-align: center;}
        #upload-add,#upload-edit{height: 30px;line-height: 30px;padding: 0 10px;margin-left: 10px;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">在库管理</a>
            <a><cite>货物列表</cite></a>
        </span>
    </div>
    <div class="seach">
        <form action="{:url('Instor/index')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
            <div class="layui-form-item">
                <label class="layui-form-label">仓库名称</label>
                <div class="layui-input-inline">
                    <select name="s_transfers_id" id="">
                        <option value="0">---请选择库房---</option>
                        {volist name='ware' id='w'}
                        <option value="{$w.id}" <?php if($s_transfers_id==$w['id']){echo 'selected';} ?>>{$w.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生产日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="s_delivery_time" name="s_delivery_time" autocomplete="off" placeholder=" - " value="<?php if(!empty($s_delivery_time)){echo $s_delivery_time;}?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="s_material_name" name="s_material_name"  value="<?php if(!empty($s_material_name)){echo $s_material_name;}?>"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn save" lay-submit>查询</button>
                </div>
            </div>
        </form>
    </div>
    <div class="handle">
        <button type="button" class="layui-btn" id="dialog">添加</button>
    </div>
    <table class="layui-table" style="width: 96%; margin: 12px auto;">
        <thead>
            <tr>
                <th>仓库名称</th>
                <th>货位</th>
                <th>产品名称</th>
                <th>生产日期</th>
                <th>实时数量</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name='orders' id='v'}
            <tr>
                <td>{$v.ckname}</td>
                <td>{$v.name}</td>
                <td>{$v.product_name}</td>
                <td><?php if(!empty($v['product_time'])){echo date('Y-m-d',$v['product_time']);} ?></td>
                <td>{$v.rk_nums}</td>
                <td>{$v.content}</td>
                <td style="width:300px">
                    <a href="{:url('instor/show','id='.$v['rk_huowei_id'])}" class="layui-btn layui-btn-sm shows">查看</a>
                    <a href="#" class="layui-btn layui-btn-sm frozens">解冻<input type="hidden" name="myids" value="{$v.id}"></a>
                    <a href="#" class="layui-btn layui-btn-sm layui-btn-normal edit">分配</a>
                    <a href="{:url('instor/delete','id='.$v['id'])}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element','laydate','form'], function(){
        var laydate = layui.laydate;
        var element = layui.element;
        let form = layui.form;
        laydate.render({
            elem: '#s_delivery_time'
            ,range: '~'
            ,done: function(value){
                $('#s_delivery_time').val(value)
            }
        });
    })
</script>
</body>
</html>
