<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>在库管理</title>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" href="/images/boot.css">
    <link href="/images/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
    <style type="text/css">
        .layui-table th{text-align: center;font-weight: bold;}
        .layui-table td{text-align: center;}
        label{box-sizing: content-box;}

    </style>
</head>
<body>
<?php if(!empty($md) && $zt==0): ?>
<div class="model" style="display: block;width:70%">
    <div class="head">
        <span>库存预警</span>
        <a href="javascript:" class="close">×</a>
    </div>
    <div class="content">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>仓库名称</th>
                    <th>货位</th>
                    <th>产品名称</th>
                    <th>生产日期</th>
                    <th>实时数量</th>
                    <th>备注</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
            {volist name='md' id='m'}
            <tr>
                <td>{$m.ckname}</td>
                <td>{$m.name}</td>
                <td>{$m.product_name}</td>
                <td><span style="color:red"><?php if(!empty($m['product_time'])){echo date('Y-m-d',$m['product_time']);} ?></span></td>
                <td>{$m.rk_nums}</td>
                <td>{$m.content}</td>
                <td><?php if($m['state']==1){echo '正常';}else{echo "<span style='color:red'>冻结</soan>";}  ?></td>
            </tr>
            {/volist}
            </tbody>

        </table>
    </div>
</div>
<?php endif; ?>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">在库管理</a>
            <a><cite>货物列表</cite></a>
        </span>
    </div>
    <div class="seach">
        <form action="{:url('Instor/index')}" method="post" enctype="multipart/form-data" class="layui-form" style="display: flex;">
            <div class="layui-form-item">
                <label class="layui-form-label">仓库名称</label>
                <div class="layui-input-inline">
                    <select name="s_transfers_id" id="">
                        <option value="0">全部</option>
                        {volist name='ware' id='w'}
                        <option value="{$w.id}" <?php if($s_transfers_id==$w['id']){echo 'selected';} ?>>{$w.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生产日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="s_delivery_time" name="s_delivery_time" autocomplete="off" placeholder=" - " value="<?php if(!empty($s_delivery_time)){echo $s_delivery_time;}?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="s_material_name" name="s_material_name"  value="<?php if(!empty($s_material_name)){echo $s_material_name;}?>"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="s_material_zt" id="">
                        <option value="0">全部</option>
                        <option value="1" <?php if(!empty($s_material_zt)){if($s_material_zt==1){echo 'selected';};} ?>>正常</option>
                        <option value="2" <?php if(!empty($s_material_zt)){if($s_material_zt==2){echo 'selected';};} ?>>冻结</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品属性</label>
                <div class="layui-input-inline">
                    <select name="status" id="">
                        <option value="0">全部</option>
                        {volist name='status' id='w'}
                        <option value="{$w.id}" <?php if($status_id==$w['id']){echo 'selected';} ?>>{$w.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <button class="layui-btn save" lay-submit>查询</button>
        </form>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总数量</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="" name=""  value="{$sums}" readonly style="border:0">
        </div>
        <label class="layui-form-label">本页数量</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="" name=""  value="{$sum}" readonly style="border:0">
        </div>
    </div>
    <a href="#" class="layui-btn save" id="btn" lay-submit style="margin-left:40px">一键结存</a>

    <main class="bd_content">
        <table class="layui-table" style="width: 96%; margin: 12px auto;">
            <thead>
            <tr>
                <th>仓库名称</th>
                <th>货位</th>
                <th>产品属性</th>
                <th>产品名称</th>
                <th>生产日期</th>
                <th>实时数量</th>
                <th>备注</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="tbd">
                {volist name='orders' id='v'}
                <tr>
                    <input type="hidden" name="id" value="{$v.id}">
                    <td>{$v.ckname}</td>
                    <td>{$v.name}</td>
                    <td>{$v.title}</td>
                    <td>{$v.product_name}</td>
                    <td><?php if(!empty($v['product_time'])){echo date('Y-m-d',$v['product_time']);} ?></td>
                    <td>{$v.rk_nums}</td>
                    <td>{$v.content}</td>
                    <td><?php if($v['state']==1){echo '正常';}else{echo "<span style='color:red'>冻结</soan>";}  ?></td>
                    <td>
                        <a href="{:url('instor/show',['id'=>$v.rk_huowei_id,'s_transfers_id'=>$s_transfers_id,'s_delivery_time'=>$s_delivery_time,'s_material_name'=>$s_material_name,'s_material_zt'=>$s_material_zt])}" class="layui-btn layui-btn-sm shows">查看</a>
                        <a href="{:url('instor/jiecun',['id'=>$v.id,'s_transfers_id'=>$s_transfers_id,'s_delivery_time'=>$s_delivery_time,'s_material_name'=>$s_material_name,'s_material_zt'=>$s_material_zt])}" class="layui-btn layui-btn-sm shows">结存</a>

                        <?php if($v['state']==1): ?>
                            <a href="{:url('Instor/frozen',['id'=>$v.id,'s_transfers_id'=>$s_transfers_id,'s_delivery_time'=>$s_delivery_time,'s_material_name'=>$s_material_name,'s_material_zt'=>$s_material_zt])}" class="layui-btn layui-btn-sm">冻结</a>
                        <?php else: ?>
                            <a href="{:url('Instor/frozen_j',['id'=>$v.id,'s_transfers_id'=>$s_transfers_id,'s_delivery_time'=>$s_delivery_time,'s_material_name'=>$s_material_name,'s_material_zt'=>$s_material_zt])}" class="layui-btn layui-btn-sm">解除冻结</a>
                        <?php endif; ?>

                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div style="text-align:center; margin-bottom: 200px;">
            {$order->render()}
        </div>
    </main>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element','laydate','form'], function(){
        var laydate = layui.laydate;
        var element = layui.element;
        let form = layui.form;
        laydate.render({
            elem: '#s_delivery_time'
            ,range: '~'
            ,done: function(value){
                $('#s_delivery_time').val(value)
            }
        });
    })
    $('.close').on('click', function(){
        $.ajax({
            url:'/index/Instor/zt',
            type:'get',
            data:{'zt':1}
        })
        $('.model').hide();
    })
    $('#btn').click(function(){
        console.log(1)
        let alls = [];
        let list = $('.tbd tr');
        list.each(function(){
            let num = $(this).find('input').val();
            alls.push(num)
        })
        $.ajax({
            url:'/index/Instor/jiec2',
            data:{alls},
            success:function (data) {
                if(data.error==0){
                    layer.alert(data.msg, {
                        icon: 6,
                        yes:function(){
                            location.href='/index/Staffs/staffs';
                        }
                    });
                }else{
                    layer.alert(data.msg, {
                        icon: 5
                    });
                }
            },
            error:function(error){
                console.log('错误提示:' + error)
            }
        })
    })
</script>
</body>
</html>
