<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>在库管理</title>
    <link href="/images/index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <style type="text/css">
        .layui-table th{text-align: center;font-weight: bold;}
        .layui-table td{text-align: center;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">在库管理</a>
            <a><cite>货物列表</cite></a>
        </span>
    </div>
    <div class="handle">
        <button type="button" class="layui-btn" id="dialog">添加</button>
    </div>
    <table class="layui-table" style="width: 96%; margin: 12px auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>装运单号</th>
                <th>运输方式</th>
                <th>运输车牌号</th>
                <th>装卸工</th>
                <th>仓库</th>
                <th>入库日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name='list' id='v'}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.shipmentnum}</td>
                <td>{$v.transport}</td>
                <td>{$v.carid}</td>
                <td>{$v.stevedore}</td>
                <td>{$v.name}</td>
                <td>{$v.userintime}</td>
                <td style="width:300px">
                    <a href="{:url('instor/show','id='.$v['id'])}" class="layui-btn layui-btn-sm shows">查看</a>
                    <a href="#" class="layui-btn layui-btn-sm frozens">解冻<input type="hidden" name="myids" value="{$v.id}"></a>
                    <a href="#" class="layui-btn layui-btn-sm layui-btn-normal edit">分配</a>
                    <a href="{:url('instor/delete','id='.$v['id'])}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
    {$list->render()}
</div>

<div class="model modeladd">
    <div class="head">
        <span>添加货物</span>
        <a href="javascript:" class="close">×</a>
    </div>
    <div class="content">
        <form action="{:url('instor/insert')}" method="post" enctype="multipart/form-data">
            <div class="wrap">
                <label>货物名称</label>
                <input type="text" name="title">
            </div>
            <div class="wrap">
                <label>入库数量</label>
                <input type="number" name="count" placeholder="整数"/>
            </div>
            <div class="wrap">
                <label>货物重量</label>
                <input type="number" name="weight" placeholder="只能填数字" />
            </div>
            <div class="wrap btn">
                <input type="submit" class="save" value="确定"/>
                <input type="reset" class="reset" value="重置"/>
            </div>
        </form>
    </div>
</div>


<div class="model modeleditfeelcount">
    <div class="head">
        <span>解冻货物</span>
        <a href="javascript:" class="close">×</a>
    </div>
    <div class="content">
        <form action="{:url('instor/editfeel')}" method="post">
            <input type="hidden" name="editfrozenid" class="editfrozenid">
            <div class="wrap">
                <label>货物名称</label>
                <input type="text" name="title" class="feeltitle" readonly>
            </div>
            <div class="wrap">
                <label>可解冻数量</label>
                <input type="number" name="goods_frozen" class="frozencount"/>
            </div>
            <div class="wrap">
                <label>解冻数量</label>
                <input type="number" name="goods_feel" placeholder="只能填数字" />
            </div>
            <div class="wrap btn">
                <input type="submit" class="save" value="确定"/>
                <input type="reset" class="reset" value="重置"/>
            </div>
        </form>
    </div>
</div>

<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        let element = layui.element;
    })
</script>

<script type="text/javascript">
    $('#dialog').on('click', function(){
        console.log(1)
        $('.modeladd').show();
    })
    $('.close').on('click', function(){
        $('.modeladd').hide();
    })

    $('.frozens').on('click', function() {
        //从隐藏域中拿到userID
        var id = $(this).children().val();
        $.ajax({
            type: "get",//请求方式有post，get请求方式，这里是post请求
            url: '/index/instor/frozen/id/' + id,//请求的方法的路径
            dataType: 'json',//请求参数的格式为json.另外还有text等
            success: function(data){
                var data = JSON.parse(data);
                $(".feeltitle").val(data.title);
                $('.frozencount').val(data.goods_frozen);
                $(".editfrozenid").val(data.id);
            }
        })
        $('.modeleditfeelcount').show();
    })
    $('.close').on('click', function(){
        $('.modeleditfeelcount').hide();
    })

    $('.edit').on('click', function() {
        $('.imgsson').remove();
        $('.noneimg').remove();
        $('.imgfile').remove();
        //从隐藏域中拿到userID
        var id = $(this).children().val();
        $.ajax({
            type: "get",//请求方式有post，get请求方式，这里是post请求
            url: '/index/room/edit/id/' + id,//请求的方法的路径
            dataType: 'json',//请求参数的格式为json.另外还有text等
            success: function(data){
                var data = JSON.parse(data);
                $('#myid').val(data.id);
                $('.type_id').val(data.type_id);
                $('.name').val(data.name);
                if(data.img_id == null){
                    $('.imgs').append("<input type='file' name='path' class='imgfile'/>");
                }else{
                    $('.imgs').append("<img src='"+data.img_id.path+"' class='imgsson' height='60px'/>");
                    $('.imgs').append("<input type='file' name='path' class='imgfile'/>");
                }
                $('.content').val(data.content);
            }
        })
        $('.modeledit').show();
    })
    $('.close').on('click', function(){
        $('.modeledit').hide();
    })

</script>

</body>
</html>