<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/images/css.css">
    <link rel="stylesheet" href="/images/index.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <style>
        .layui-textarea{min-height: 0;padding: 3px 10px;line-height: initial;}
        .submit{margin-left: 30px;margin-top: 30px;}
        .container{display: block;overflow-x: hidden;height: 580px;}
        .container::-webkit-scrollbar{width: 0;}
        .layui-form-radio{margin: 0;padding: 0;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
        <span class="layui-breadcrumb">
            <a href="/public/main.html" target="box">首页</a>
            <a href="javascript:;">入库管理</a>
            <a><cite>调拨</cite></a>
        </span>
    </div>

    <form method="post" class="layui-form" action="{:url('Instor/tj_db')}">
        <div class="form_box">
            <div class="layui-form-item">
                <label class="layui-form-label">仓库:</label>
                <div class="layui-input-inline">
                    <select name="ck_id" lay-filter="ck_id" id="table" onchange="showtable(this.value)">
                        <option value="0">请选择仓库</option>
                        <?php foreach($cks as $ck): ?>
                        <option value="<?=$ck['id']?>"><?=$ck['name']?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="layui-table" style="width: 96%; margin: 12px auto;">
                <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>产品日期</th>
                        <th>调拨日期</th>
                        <th>调出货位</th>
                        <th>调出货位产品数量</th>
                        <th>调拨数量</th>
                        <th>调入货位</th>
                        <th>调入货位产品数量</th>
                        <th>操作</th>
                </thead>
                <tbody class="tbd">
                    <tr>
                        <td class="jin">
                            <select name="goods" class="goods" lay-search>
                                <option value="">请选择产品名称</option>
                                {volist name='goods' id='good'}
                                <option value="{$good.name}">{$good.name}</option>
                                {/volist}
                            </select>
                        </td>
                        <td class="jin">
                            <input type="date" value="" name="c_time" class="layui-input">
                        </td>
                        <td class="jin">
                            <input type="date" value="" name="d_time" class="layui-input">
                        </td>
                        <td class="huowei">
                            <botton class="layui-btn layui-btn-sm dia">点击</botton>
                        </td>
                        <td class="count">
                            <input type="hidden" value="huowei_out" name="huowei_out" readonly>
                            <span>0</span>
                        </td>
                        <td class="jin">
                            <input type="text" value="" name="shu" class="layui-input">
                        </td>
                        <td class="huowei_r">
                            <botton class="layui-btn layui-btn-sm dia_r">点击</botton>
                        </td>
                        <td class="count_ss">
                            <input type="hidden" value="huowei_out_ss" name="huowei_out_ss" readonly>
                            <span>0</span>
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm add">
                                <i class="layui-icon">&#xe654;</i>
                            </button>
                        </td>

                </tr>
                </tbody>
            </table>
            <button class="layui-btn submit" lay-submit lay-filter="formDemo">立即提交</button>

        </div>
    </form>
</div>
<div class="model_table" style="display: none; top: 45%; overflow: hidden;">
    <div class="head">
        <span>修改商品</span>
        <a href="javascript:" class="close">×</a>
    </div>
    <div class="content" style="height: 100%;overflow-x: hidden;">
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <th></th>
                <th>产品名称</th>
                <th>产品日期</th>
                <th>货位名称</th>
                <th>库存数量</th>
            </tr>
            </thead>
            <tbody class="kc_list"></tbody>
        </table>
        <button class="layui-btn sure" style="margin-top: 20px;">确定</button>
    </div>

</div>

<div class="model_table_ss" style="display: none; top: 45%; overflow: hidden;">
    <div class="head">
        <span>调拨入库</span>
        <a href="javascript:" class="close2">×</a>
    </div>
    <div class="content" style="height: 100%;overflow-x: hidden;">
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <th></th>
                <th>产品名称</th>
                <th>产品日期</th>
                <th>货位名称</th>
                <th>库存数量</th>
                </tr>
            </thead>
            <tbody class="kc_list2"></tbody>
        </table>
        <button class="layui-btn sure2" style="margin:20px auto 100px;">确定</button>
    </div>

</div>
<script src="/static/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element', 'form','laydate','layer'], function () {
        let element = layui.element;
        let form = layui.form;
        let laydate = layui.laydate;
        let layer = layui.layer;
        laydate.render({
            elem: '#time',
            type: 'date'
        })


        form.on('select(ck_id)', function(data){
            let id = data.elem.value;
            if(id != 0){
                $('.showhuowei').empty();
                $.ajax({
                    type: "get",//请求方式有post，get请求方式，这里是post请求
                    url: '/index/Outbound/huowei/id/' + id,//请求的方法的路径
                    dataType: 'json',//请求参数的格式为json.另外还有text等
                    success: function(data){
                        var data = JSON.parse(data);
                        $('.showhuowei').append("<option value=''>请选择货位</option>");
                        for (var i=0;i<data.length;i++)
                        {
                            $('.showhuowei').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                        }
                        form.render();
                    }
                })
            }

        })

        let par = '';
        $('.tbd').on('click', '.dia', function () {
            par = $(this).parents('tr');
            let id = $('#table').val();
            let name = par.find('.goods').val();
            if(id == 0){
                layer.alert('请选择仓库',{icon:5});
                return false;
            }
            if(name == ''){
                layer.alert('请选择产品名称',{icon:5});
                return false;
            }
            else {
                par = $(this).parents('tr');
                $('.kc_list').empty();
                $('.model_table').show();
                $.ajax({
                    url:'/index/Instor/houwei_ck',
                    data: {id,name},
                    success:function (data) {
                        console.log(data)
                        let html = '';
                        for (let i =0; i<data.length; i++){
                            html += ` <tr>
                            <input type="hidden" id="id" class="layui-input" value="${data[i].c_id}">
                            <input type="hidden" id="r_id" class="layui-input" value="${data[i].id}">
                            <td><input type="radio" name="sex" value="nan" title=""></td>
                            <td>${data[i].product_name}</td>
                            <td>${data[i].product_time}</td>
                            <td class="hw">${data[i].name}</td>
                            <td>${data[i].sy_count}</td>
                        </tr>`;
                        }
                        $('.kc_list').append(html)
                        form.render()
                    }
                })
            }
        })

        $('.sure').on('click', function () {
            $('.model_table').hide();
            let che = $('.kc_list').find('input:radio:checked')[0];
            let tr = $(che).parents('tr');
            let id = tr.find('#id').val();
            $.ajax({
                url:'/index/Instor/houwei_cd',
                data:{id},
                success:function (d) {
                    console.log(d)
                    // let coun = d.rk_nums;
                    par.find('.count').find('span').text(d.rk_nums);
                    par.find('.count').find('input').val(d.rk_nums);
                    // // par.find('.rukuform_xq_id').val(id);
                    par.find('.huowei').html(`<input type="hidden" value="${d.id}" name="rk_id" readonly><span>${d.name}</span>`);
                    $('#r_id').val(d.id)
                }
            })
        })



        let par2 = '';
        $('.tbd').on('click', '.dia_r', function () {
            par2 = $(this).parents('tr');
            let id = $('#table').val();
            if(id == 0){
                layer.alert('请选择仓库',{icon:5});
                return false;
            }else {
                $('.kc_list2').empty();
                $('.model_table_ss').show();
                $.ajax({
                    url:'/index/Instor/huowei_ck_r',
                    data: {id},
                    success:function (data) {
                        let html = '';
                        for (let i =0; i<data.length; i++){
                            html += ` <tr>
                            <input type="hidden" id="id" class="layui-input" value="${data[i].id}">
                            <input type="hidden" id="m" class="layui-input" value="${data[i].m}">
                            <input type="hidden" id="j" class="layui-input" value="${data[i].j}">
                            <input type="hidden" id="c_id" class="layui-input" value="${data[i].c_id}">

                            <td><input type="radio" name="redio" value="nan" title=""></td>
                            <td>${data[i].product_name}</td>
                            <td>${data[i].product_time}</td>
                            <td class="hw">${data[i].name}</td>
                            <td>${data[i].sy_count}</td>
                        </tr>`;
                        }
                        $('.kc_list2').append(html)
                        form.render()
                    }
                })
            }
        })


        $('.sure2').on('click', function () {
            $('.model_table_ss').hide();
            let che = $('.kc_list2').find('input:radio:checked')[0];
            let tr = $(che).parents('tr');
            let id = tr.find('#id').val();
            let m = tr.find('#m').val();
            let j = tr.find('#j').val();
            let num = tr.find('input[type=text]').val();
            let allcount = $('.all_count').text();
            let allweight = $('.all_weight').text();
            $.ajax({
                url:'/index/Instor/houwei_cd',
                data:{id},
                success:function (d) {
                    let count = d.rk_nums == undefined ? 0 : d.rk_nums;
                    par2.find('.count_ss').find('span').text(count);
                    par2.find('.count_ss').find('input').val(count);
                    // par.find('.rukuform_xq_id').val(id);
                    par2.find('.huowei_r').html(`<input type="hidden" value="${d.id}" name="huowei_name" readonly><span>${d.name}</span>`);
                    // par.find('.count').find('span').text(num);
                    // par.find('.count').find('input').val(num);
                    // par.find('.jin').find('span').text(d.m);
                    // par.find('.jin').find('input').val(d.m);
                    // par.find('.sy_count').find('span').text(d.sy);
                    // par.find('.sy_count').find('input').val(d.sy);
                    // let count = Number(allcount) + Number(num);
                    // let weight = [(Number(allweight) + Number(d.m))*1000]/1000;
                    // let we=Math.round(weight*1000)/1000;
                    // $('.all_count').text(count);
                    // $('.all_weight').text(we);
                    // $('input[name=all_count]').val(count);
                    // $('input[name=all_weight]').val(we);
                }
            })
        })
    })

    // 修改商品数量
    $('.tbd').on('blur', '.countnum', function(){
        let parent =$(this).parents('tr');
        //净重
        let min = $(this).parents('tr').find('input[name=gross_min]').val();
        //毛重
        let gross_min = $(this).parents('tr').find('input[name=min]').val();
        let max = $(this).val()
        $.ajax({
            url:'/index/Rukuorder/blur',
            data:{'min':min,'max':max,'groos_min':gross_min},
            success:function (data) {
                parent.find('.num').next().text(data.number)
                parent.find('.groos').next().text(data.groos)
                parent.find('.groos').val(data.groos)
                parent.find('.num').val(data.number)
            }
        })
    })
    //生成时删除sessionstorage
    $('#del').click(function () {
        sessionStorage.removeItem('session')
    })

    $('.tbd').on('click','.remove', function(){
        let p = $(this).parents('tr');
        let id=p.find('.rukuform_xq_id').val();
        let num=p.find('.count').find('input').val();
        $.ajax({
            url:'/index/Table/huifu',
            data:{id,num}
        })
        p.remove();
        //     let id=p.find('.rukuform_xq_id').val();
        // let num=p.find('.count').find('input').val();
        // p.remove();
        // $.ajax({
        //     url:'/index/Table/huifu',
        //     data:{id,num}
        // })
    })

    $('.close').on('click', function(){
        $('.model_table').hide();

    })

    $('.close2').on('click', function(){
        $('.model_table_ss').hide();

    })
</script>
</body>
</html>
