<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-table th,.layui-table td{text-align: center;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
            <span class="layui-breadcrumb">
                <a href="/public/main.html" target="box">首页</a>
                <a href="javascript:;">在库管理</a>
                <a><cite>月度查询</cite></a>
            </span>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">年月选择器</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test3" placeholder="yyyy-MM" value="<?php if(!empty($time)){echo $time;}?>">
            </div>
            <button class="layui-btn pandian" lay-submit>查询</button>
        </div>
        
    </div>
    <main class="bd_content">
            <table class="layui-table" style="width: 96%; margin: 12px auto;">
                <thead>
                    <tr>
                        <th rowspan="2">仓库</th>
                        <th rowspan="2">货位</th>
                        <th rowspan="2">产品名</th>
                        <th colspan="3">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='rows' id='row'}
                    <tr>
                        <td>{$row.w_name}</td>
                        <td>{$row.c_name}</td>
                        <td>{$row.rk_name}</td>
                        <td><a href="{:url('Instor/show_month_xx',['huowei'=>$row.huowei,'time'=>$time])}">详细</a></td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </main>
</div>
    
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['laydate','layer'], function(){
        var laydate = layui.laydate,
            layer = layui.layer;
        //年月选择器
        laydate.render({
            elem: '#test3'
            ,type: 'month'
        });
    });

    $('.pandian').on('click',  function (){
             let time = $('#test3').val();
                if(time == 0){
                    layer.alert('请选择时间',{icon:5});
                    return false;
                }else{
                    window.location.href="/index/Instor/show_month?time="+time;
                }
         })
</script>
</body>
</html>