<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-table th,.layui-table td{text-align: center;}
    </style>
</head>
<body>
<div class="note">
    <div class="nav">
            <span class="layui-breadcrumb">
                <a href="/public/main.html" target="box">首页</a>
                <a href="javascript:;">在库管理</a>
                <a><cite>仓储查询</cite></a>
            </span>
    </div>
    <div class="bd_content">
        <table class="layui-table" style="width: 96%; margin: 12px auto 50px;">
            <thead>
            <tr>
                <th rowspan="2">日期</th>
                <th rowspan="2">单号</th>
                <th rowspan="2">作业类型</th>
                <th rowspan="2">客户</th>
                <th rowspan="2">初期数量</th>
                <th colspan="3">入库</th>
                <th colspan="3">出库</th>
                <th rowspan="2">结存</th>
                <th rowspan="2">备注</th>
            </tr>
            <tr>
                <th>到货入库</th>
                <th>调拨入库</th>
                <th>其他入库</th>
                <th>销售出库</th>
                <th>调拨出库</th>
                <th>其他出库</th>
            </tr>
            </thead>
            <tbody>
            {volist name='rows' id='row'}
            <tr>
                <td><?php if(!empty($row['time'])){echo date('Y-m-d H:i:s',$row['time']);} ?></td>
                <td>{$row.odd_number}</td>
                <td>{$row.task}</td>
                <td>{$row.customer}</td>
                <td>{$row.early_stage}</td>
                <td>{$row.dh_ruku}</td>
                <td>{$row.db_ruku}</td>
                <td>{$row.qt_ruku}</td>
                <td>{$row.xx_chuku}</td>
                <td>{$row.db_chuku}</td>
                <td>{$row.qt_chuku}</td>
                <td>{$row.balance}</td>
                <td>{$row.count}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <a style="margin-left:28px" href="{:url('Instor/index',['s_transfers_id'=>$s_transfers_id,'s_delivery_time'=>$s_delivery_time,'s_material_name'=>$s_material_name,'s_material_zt'=>$s_material_zt])}" class="layui-btn layui-btn-sm shows">返回</a>
    </div>
</div>


<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use('element', function () {

    })
</script>
</body>
</html>
