<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>入库单</h1>
<form method="post" action="{:url('Instor/index')}">
<p>装运单号:{$main.shipmentnum}</p>
<p>入库日期:{$main.userintime}</p>
<p>运输方式:{$main.transport}</p>
<p>车牌号码:{$main.carid}</p>
<p>装卸工:{$main.stevedore}</p>
<p>入库仓库:{$main.ck_id}</option>
</select></p>
<table class="table" border="1">
    <tr>
        <th>入库工厂</th>
        <th>产品名称</th>
        <th>入库状态</th>
        <th>入库货位</th>
        <th>实收数量</th>
        <th>产品日期</th>
        <th>产品批次</th>
        <th>备注</th>
        <th>毛重</th>
        <th>净重</th>
        <th>订单编号</th>
    </tr>
    {volist name='orders' id='v'}
    <tr>
        <input type="hidden" name="min" value="{$v.Grossweight}">
        <input type="hidden" name="gross_min" value="{$v.netweight}">
        <th>{$v.factory}</th>
        <th>{$v.product_name}</th>
        <th>{$v.title}</th>
        <th>{$v.name}</th>
        <th>{$v.rk_nums}</th>
        <th>{$v.product_time}</th>
        <th>{$v.product_batch}</th>
        <th>{$v.content}</th>
        <th>{$v.Grossweight}</th>
        <th>{$v.netweight}</th>
        <th>{$v.transfers_id}</th>
    </tr>
    {/volist}
</table>
<input type="submit" value="返回">
</form>
<script src="/static/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
