<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>货位进销存查询</h1>
</select></p>
<table class="table" border="1">
    <tr>
        <th>日期</th>
        <th>单号</th>
        <th>作业类型</th>
        <th>客户</th>
        <th>期初数量</th>
        <th>到货入库</th>
        <th>调拨入库</th>
        <th>其他入库</th>
        <th>销售出库</th>
        <th>调拨出库</th>
        <th>其他出库</th>
        <th>结存</th>
    </tr>
    {volist name='rows' id='row'}
    <tr>
        <td><?php if(!empty($row['time'])){echo date('Y-m-d',$row['time']);} ?></td>
        <td>{$row.odd_number}</td>
        <td>{$row.task}</td>
        <td>{$row.customer}</td>
        <td>{$row.early_stage}</td>
        <td>{$row.dh_ruku}</td>
        <td>{$row.db_ruku}</td>
        <td>{$row.qt_ruku}</td>
        <td>{$row.xx_chuku}</td>
        <td>{$row.db_chuku}</td>
        <td>{$row.qt_chuku}</td>
        <td>{$row.balance}</td>
    </tr>
    {/volist}
</table>
<input type="submit" value="返回">
</form>
<script src="/static/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
